<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageTitle">{{"Επεξεργασία Τμήματος"| translate}}</div>
    </div>
    <div class="contentHolder">
        <form class="itemForm" name="itemForm" novalidate style="padding: 20px;border:1px solid #cdcdcd"><br>
            <div class="form-group">
                <label for="stat_comm" class=" formItemLabel">{{"Σχόλια"| translate}}:</label>
                <div class="longInput">
                        <textarea id="stat_comm" name="stat_comm" class="form-control" type="text"
                                  ng-model="ctrl.pivotData.comments"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class=" formItemLabel" for="tmuser">{{"Πρωτεύον Τμήμα"| translate}}:</label>
                <div class="longInput">
                    <select id="tmuser" name="tmuser" class="form-control" ng-model="ctrl.pivotData.defaultTm"
                            ng-options="tm.id as (tm.descr)+(tm.ku_code?' / '+tm.ku_code:' / - ')+(tm.mku_code?' / '+tm.mku_code:' / - ')+(tm.mp_code?' / '+tm.mp_code:'') for tm in tms">
                        <option value="0">{{"Προεπιλεγμένο Τμήμα"| translate}}</option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-primary" ng-click="ctrl.insertPivotItem(ctrl.pivotData)"
                    style="padding: 5px ; float: right;">{{"ok"| translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.cancelPivotData()"
                    style="padding: 5px; float: right;">{{"cancel"| translate}}
            </button>
        </form>
    </div>
</div>