<div id="data_tbl" class="boxContent">
    <table class="sorttable table table-hover table-striped table-responsive table-header-fixed table-condensed">
        <thead class="header-fixed" style="background-color: #cecece;">
        <tr>
            <th>id</th>
            <th>Κωδικός Τμήματος</th>
            <th>Περιγραφή</th>
            <th>Κωδικός(KU/MKU)</th>
            <th>Περιγραφή(KU/MKU)</th>

            <th>...</th>
        </tr>
        </thead>
        <tbody class="contentScroll">
        <tr ng-repeat="item in ctrl.rdp.slice(((currentPageR-1)*itemsPerPageR),((currentPageR)*itemsPerPageR))|filter:ctrl.filterR"
            style="cursor: pointer">
            <td>{{item.id }}</td>
            <td>{{item.ku_code}}</td>
            <td>{{item.descr }}</td>
            <td>{{item.ku_code?'ΠΡΟ - '+item.ku_code:item.mku_code?'ΜΕΤ - '+item.mku_code:'no id'}}</td>
            <td>{{item.ku_per?item.ku_per:item.mku_per?item.mku_per:'no desc' }}</td>
            <td>
                <button ng-click="item.disabled?null:ctrl.showPivotData(item)" type="button"
                        class="btn{{item.disabled?' btn-regular disabled':' btn-success'}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagePagination">
    <div>
        <pagination current-page="currentPageR" total-items="ctrl.rdp.length"
                    items-per-page="itemsPerPageR" num-pages="numPagesR"></pagination>
    </div>
</div>