<!--&lt;!&ndash;<span>hello world!!!!</span>&ndash;&gt;-->
<!--<div class="buttonalbum">-->
<!--<div class="container">-->

<!--<div class="row">-->
<!--<div class="card">-->
<!--<a href="#users" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Χρήστες</a>-->
<!--</div>-->
<!--<div class="card">-->
<!--<a href="#roles" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Ρολοι</a>-->
<!--</div>-->
<!--<div class="card">-->
<!--<a href="#requests" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Αιτήσεις</a>-->
<!--</div>-->
<!--<div class="card">-->
<!--<a href="#rooms" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Αίθουσες</a>-->
<!--</div>-->
<!--<div class="card">-->
<!--<a href="#tms" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Τμήματα</a>-->
<!--</div>-->
<!--<div class="card">-->
<!--<a href="#kat" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Κατευθύνσεις</a>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#users" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Χρήστες</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#users" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Χρήστες</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="#users" class=" btn btn-primary btn-lg active" role="button" aria-pressed="true">Χρήστες</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--</div>-->
<!--</div>-->


<!--<section class="main">-->
<!--<div class="container grid-custom">-->
<!--<div class="row">-->
<!--<div class="col-sm-3 col-xs-6"><img href="#users" alt="" class="img-responsive"></div>-->
<!--<div class="col-sm-3 col-xs-6"><img src="http://placehold.it/300x205/e74c3c/fff" alt="" class="img-responsive"></div>-->
<!--<div class="col-sm-3 col-xs-6"><img src="http://placehold.it/300x205/f1c40f/fff" alt="" class="img-responsive"></div>-->
<!--<div class="col-sm-3 col-xs-6"><img src="http://placehold.it/300x205/9b59b6/fff" alt="" class="img-responsive"></div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<md-grid-list md-cols-gt-md="3" md-cols-md="2" md-cols-sm="1" md-gutter="12px" md-row-height="1:1">
    <md-grid-tile class="green">
        <md-grid-tile-footer>
            <h3>first tile</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="blue">
        <md-grid-tile-footer>
            <h3>second tile</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile class="purple">
        <md-grid-tile-footer>
            <h3>third tile</h3>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>