<div class="row">
    <div class="col-sm-6">
        <a href="#roles" class="btn btn-info homebtn" role="button">Ρόλοι</a>
    </div>
    <div class="col-sm-6">
        <a href="#users" class="btn btn-info homebtn" role="button">Χρήστες</a>
    </div>
    <div class="col-sm-6">
        <a href="#kat" class="btn btn-info homebtn" role="button">Κατευθύνσεις</a>
    </div>
    <div class="col-sm-6">
        <a href="#requests" class="btn btn-info homebtn" role="button">Αιτήματα</a>
    </div>
    <div class="col-sm-6">
        <a href="#rooms" class="btn btn-info homebtn" role="button">Αίθουσες</a>
    </div>
    <div class="col-sm-6">
        <a href="#tms" class="btn btn-info homebtn" role="button">Τμήματα</a>
    </div>
</div>