<div id="periods_main">
    <div><h2 style="text-align: center;"> Περίοδοι ???? </h2></div>
    <div style="display: flex">
        <input type="text" ng-model="filter" class="form-control" placeholder="search"
               style="padding: 5px; width: 100%">
        <button type="button" class="btn btn-primary" ng-click="getPeriod()"
                style="min-width: 50px; border-radius: 0px;">
            <<<<<<< HEAD
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <a href="#/periods/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
            <span class="glyphicon glyphicon-plus"></span>
            =======
            <span class="glyphicon glyphicon-cloud-download"></span>
            </button>
            <a href="#/periods/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
                <span>+</span><span class="glyphicon glyphicon-user"></span>
                >>>>>>> fc7528c... commit
            </a>
    </div>
    <div>
        <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                    num-pages="numPages"></pagination>
    </div>
    <div id="data_tbl" class="table-responsive boxContent">
        <table class="sorttable table table-hover table-striped table-responsive header-fixed">
            <thead>
            <tr>
                <th>ID</th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('descr')">descr</button>
                    <span class="sortorder" ng-show="propertyName === 'descr'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('synt')">synt</button>
                    <span class="sortorder" ng-show="propertyName === 'synt'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('fromd')">fromd</button>
                    <span class="sortorder" ng-show="propertyName === 'fromd'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('tod')">tod</button>
                    <span class="sortorder" ng-show="propertyName === 'tod'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('comments')">comments</button>
                    <span class="sortorder" ng-show="propertyName === 'comments'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('conf_id')">conf_id</button>
                    <span class="sortorder" ng-show="propertyName === 'conf_id'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('porder')">porder</button>
                    <span class="sortorder" ng-show="propertyName === 'porder'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button class="btn btn-link" ng-click="sortBy('status')">status</button>
                    <span class="sortorder" ng-show="propertyName === 'status'"
                          ng-class="{reverse: reverse}"></span>
                </th>
                <th>...</th>
            <tbody>
            <tr ng-repeat="period in dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:filter|orderBy:propertyName:reverse"
                style="cursor: pointer" ng-class="{selected: period.id === item.id}">
                <td>{{ period.id }}</td>
                <td><textarea disabled>{{ period.descr }}</textarea></td>
                <td>{{ period.synt }}</td>
                <td>{{ period.fromd }}</td>
                <td>{{ period.tod }}</td>
                <td><textarea disabled>{{ period.comments }}</textarea></td>
                <td>{{ period.conf_id }}</td>
                <td>{{ period.porder }}</td>
                <td>{{ period.status }}</td>
                <td>
                    <a href="#/periods/{{period.id}}" type="button" class="btn btn-info thumb"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <button ng-click="deletePeriod(period)" type="button" class="btn btn-danger">
                        <<<<<<< HEAD
                        <span class="glyphicon glyphicon-remove
"></span>
                        =======
                        <span class="glyphicon glyphicon-erase"></span>
                        >>>>>>> fc7528c... commit
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pre>total periods list : {{dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
</div>






