<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageButtons">
            <a href back-button type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left">
					<span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{"Επιστροφή"| translate}}</span>
				</span>
            </a>
        </div>
        <div class="pageTitle">{{"Διαχείριση Ακαδημαϊκής Περιόδου"| translate}}</div>
    </div>
    <div class="contentHolder">
        <form class="itemForm" name="itemForm" novalidate style="padding: 20px;border:1px solid #cdcdcd">
            <div class="formGroupItems">

                <div class="form-group">
                    <label class=" formItemLabel" for="descr">{{"Περιγραφή"| translate}}:</label>
                    <div class="longInput">
                        <input id="descr" name="descr" class="form-control" type="text" ng-model="ctrl.item.descr">
                    </div>
                </div>

                <div class="inlineItems">

                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.synt.$invalid && !itemForm.synt.$pristine }">
                        <label class=" formItemLabel" for="synt">{{"Συντομογραφία"| translate}}<span
                                class="form-required">*</span>:</label>
                        <div class="smallInput">
                            <input id="synt" name="synt" class="form-control" type="text" ng-model="ctrl.item.synt">
                        </div>
                        <p ng-show="itemForm.synt.$invalid && !itemForm.synt.$pristine" class="help-block">{{"Εισάγετε
                            συντομογραφία."| translate}}</p>
                    </div>
                    <div class="directiveFormItemA">
                        <status-selector status-title='{{"Κατάσταση περιόδου"| translate}}' options="periodStatus"
                                         output-value="ctrl.item.status"></status-selector>
                    </div>
                </div>
                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.fromd.$invalid && !itemForm.fromd.$pristine }">
                        <label class=" formItemLabel" for="fromd">{{"Από ημ/νία"| translate}}<span
                                class="form-required">*</span>:</label>
                        <div class="input-group">
                            <input id="fromd" name="fromd" type="text" class="form-control"
                                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                                   ng-model="ctrl.item.fromd" ng-value="ctrl.item.fromd|date:'dd-MM-yyyy'"
                                   is-open="popup1.opened" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <p ng-show="itemForm.fromd.$invalid && !itemForm.fromd.$pristine" class="help-block">{{"Εισάγετε
                            ημερομηνιά έναρξης."| translate}}</p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.tod.$invalid && !itemForm.tod.$pristine }">
                        <label class=" formItemLabel" for="tod">{{"Έως ημ/νία"| translate}}<span
                                class="form-required">*</span>:</label>
                        <div class="input-group">
                            <input id="tod" name="tod" type="text" class="form-control"
                                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                                   ng-model="ctrl.item.tod" ng-value="ctrl.item.tod|date:'dd-MM-yyyy'"
                                   is-open="popup2.opened" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <p ng-show="itemForm.tod.$invalid && !itemForm.tod.$pristine" class="help-block">{{"Εισάγετε
                            ημερομηνιά λήξης."| translate}}</p>
                    </div>
                </div>

                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.conf_id.$invalid && !itemForm.conf_id.$pristine }">
                        <label class=" formItemLabel" for="conf_id">{{"Έτος"| translate}}<span
                                class="form-required">*</span>:</label>
                        <div class="smallInput">
                            <select id="conf_id" name="conf_id" class="form-control" ng-model="ctrl.item.conf_id"
                                    ng-options="config.id as config.year for config in configs"></select>
                        </div>
                        <p ng-show="itemForm.conf_id.$invalid && !itemForm.conf_id.$pristine" class="help-block">
                            {{"Εισάγετε έτος."| translate}} </p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.porder.$invalid && !itemForm.porder.$pristine }">
                        <label class=" formItemLabel" for="porder">{{"Σειρά Περιόδου"| translate}}Σειρά Περιόδου<span
                                class="form-required">*</span>:</label>
                        <div class="smallInput">
                            <input id="porder" name="porder" class="form-control" type="number"
                                   ng-model="ctrl.item.porder">
                        </div>
                        <p ng-show="itemForm.porder.$invalid && !itemForm.porder.$pristine" class="help-block">
                            {{"Εισάγετε την σειρά της περιόδου."| translate}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stat_comm" class=" formItemLabel">{{"Σχόλια"| translate}}:</label>
                    <div class="longInput">
                        <textarea id="stat_comm" name="stat_comm" class="form-control" type="text"
                                  ng-model="ctrl.item.comments"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.id>0">{{"Ανανέωση"| translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.synt && !ctrl.item.id">{{"Αποθήκευση"| translate}}
            </button>
        </form>
    </div>
</div>