<!--<div style=" border: 1px solid #ababab; padding: 2px">-->
<!--<h4>Τρέχουσες επιλογές</h4>-->
<!--<div id="selectedParams" style="display: flex">-->
<!--<div id="selectedPeriod" style="width: 100%">-->
<!--<div>Από {{item.fromd.toLocaleDateString()}} Μέχρι {{item.tod.toLocaleDateString()}}</div>-->
<!--<div style="display: flex">Ημέρες-->
<!--<div ng-repeat="d in selectedDays" ng-if="d.s">{{d.d}} {{selectedDays.length<$index?',':''}}</div>-->
<!--</div>-->
<!--</div>-->
<!--<div>-->
<!--<div id="selectedCourse" style="width: 100%">-->
<!--<div>{{selectedCourse.tma_code}} - {{selectedCourse.tma_per}}</div>-->
<!--</div>-->
<!--<div id="selectedRoom" style="width: 100%">-->
<!--<div ng-repeat="room in selectedRooms">- {{room.name}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<button ng-click="init()" class="btn btn-primary"-->
<!--style="width: 100%; margin: 0px 4px; border: 1px solid #ababab; box-shadow: 1px 1px 3px #ababab"> - -->
<!--Αρχικοποίηση - -->
<!--</button>-->
