<h2>Τρέχουσες επιλογές</h2>
<div id="selectedParams" style="display: flex">
    <div id="selectedPeriod" style="width: 100%">
        <div>Από {{item.fromd}} Μέχρι {{item.tod}}</div>
        <div>Ημέρες
            <div ng-repeat="d in selectedDays" ng-if="d.s">{{d.d}}</div>
        </div>
    </div>
    <div>
        <div id="selectedCourse" style="width: 100%">
            <div>{{selectedCourse.tma_code}} - {{selectedCourse.tma_per}}</div>
        </div>
        <div id="selectedRoom" style="width: 100%">
            <div ng-repeat="room in selectedRooms">- {{room.name}}</div>
        </div>
    </div>
</div>
<req-user-navigation></req-user-navigation>
