<div>
    <form><br>
        <label>Σχόλια:<input type="text" ng-model="ctrl.pivotData.comments" class="form-control"
                             placeholder="comment"></label><br>
        <br>
        <label>Κατάσταση:<input type="text" ng-model="ctrl.pivotData.stat" class="form-control"
                                placeholder="comment"></label><br>
        <br>
        <label>Από Ημ/νία:
            <pre> <em>{{ctrl.pivotData.from | date:'fullDate' }}</em></pre>
        </label> <br>
        <div style="display:flex; min-height:290px;">
            <div uib-datepicker ng-model="ctrl.pivotData.from" class="well well-sm"></div>
        </div>
        <label>Μέχρι Ημ/νία:
            <pre> <em>{{ctrl.pivotData.to | date:'fullDate' }}</em></pre>
        </label> <br>
        <div style="display:flex; min-height:290px;">
            <div uib-datepicker ng-model="ctrl.pivotData.to" class="well well-sm"></div>
        </div>

        <button type="button" class="btn btn-primary" ng-click="ctrl.insertPivotItem(ctrl.pivotData)"
                style="padding: 5px">ok
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.cancelPivotData()" style="padding: 5px">
            cancel
        </button>
    </form>
</div>