<div style="width: 100%; height: 100%; padding: 10px;">
    <div>
        <div style="">
            <div style="width: 100%; display: flex">
                <label class=" formItemLabel" for="fromd" style="max-width: 140px">{{"Από ημ/νία"| translate}}:
                    {{fromd | date:'d/M/y' }}</label>
                <div class="input-group" style="max-width: 300px; min-width: 140px">

                    <input id="fromd" name="fromd" type="text" class="form-control"
                           uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                           ng-model="fromd" ng-value="fromd|date:'dd-MM-yyyy'"
                           is-open="fromVisible" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fromVisible=true;">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                </div>
            </div>

            <div style="width: 100%; display: flex">
                <label class=" formItemLabel" for="dd" style="max-width: 140px">{{"Στην ημ/νία"| translate}}: {{item.tod
                    | date:'d/M/y'}}</label>
                <div class="input-group" style="max-width: 300px ; min-width: 140px">
                    <input id="dd" name="dd" type="text" class="form-control"
                           uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                           ng-model="dd" ng-value="dd|date:'dd-MM-yyyy'"
                           is-open="toVisible" ng-required="true" close-text="Close"/>
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toVisible=true;">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                </div>
            </div>
        </div>

        <button tooltip-placement="left" type="button"
                class="btn btn-primary hippo" ng-click="copyDayRequest(fromd,dd)"
                style="margin: 3%;">
        </button>
    </div>
</div>