<div class="inlineItems">
    <div style="width: 26%;display: flex;
    padding-top: 44px;
    padding-right: 96px;
    margin-right: 50px;
    margin-left: 231px;
    padding-bottom: 10px;">
        <day-select style="padding: 4px 4px 0px 4px; display: block;"></day-select>
        <!--<config-book-graph selected-period="selectedPeriod" year="selectedConfig" periods-active="periodActive" style=""> </config-book-graph>-->
        <!--<from-to-date-picker fromd="item.fromd" tod="item.tod"></from-to-date-picker>-->
    </div>
</div>
<div>
    <button tooltip-placement="left" type="button"
            class="btn btn-primary hippo" ng-click="setHoliday(item)"
            style="min-width: 83px; margin: 2% 35%; border-radius: 0px;">{{'Οριστικοποίηση'| translate}}
    </button>

    <!--<button tooltip-placement="left"-->
    <!--uib-tooltip='{{"Αντιγραφή Περιόδου"| translate}}' type="button"-->
    <!--class="btn btn-primary hippo"-->
    <!--ng-click="copyAllPeriod(periodSelections.from,periodSelections.to)"-->
    <!--style="min-width: 83px;margin-top: 50px; border-radius: 0px;">-->
    <!--<span class="glyphicon glyphicon-arrow-right"></span>-->
    <!--</button>-->

</div>



