<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Ρόλος</th>
            <th>Περιγραφή</th>
            <th>...</th>
        </tr>
        <tr ng-repeat="role in ctrl.rdp.slice(((currentPageR-1)*itemsPerPageR),((currentPageR)*itemsPerPageR))|filter:ctrl.filterR"
            style="cursor: pointer">
            <td>{{ role.id }}</td>
            <td>{{ role.role }}</td>
            <td>{{ role.descr }}</td>
            <td>
                <button ng-click="role.disabled?null:ctrl.showPivotData(role)" type="button"
                        class="btn {{role.disabled?'btn-regular disabled':'btn-success '}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>
    </table>
</div>