<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageButtons">
            <a href back-button type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left">
					<span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
				</span>
            </a>
        </div>
        <div class="pageTitle">Διαχείριση Χρήστη</div>
    </div>
    <div class="contentHolder">
        <form class="itemForm" name="itemForm" novalidate style="padding: 20px;border:1px solid #cdcdcd">
            <div class="formGroupItems">
                <div class="form-group">
                    <label class="required formItemLabel" for="user">Username:</label>
                    <div class="longInput">
                        <input id="user" name="user" type="text" class="form-control" ng-model="ctrl.item.user">
                    </div>
                </div>
                <!--PASSWORD-->
                <div class="inlineItems">
                    <div class="form-group">
                        <label class="required formItemLabel " for="pw1">Κωδικός<span
                                class="form-required">*</span>:</label>
                        <input id="pw1" name="pw1" type="{{passwordString1}}" class="form-control"
                               ng-model="ctrl.item.hash" ng-init="passwordString1='password'" ng-required=""/>
                        <a type="button" class="btn btn-success btn-eye" style="background:#800000;"
                           ng-click="passwordString1==='text'?passwordString1='password':passwordString1='text';errorString='*'+pw1+'*';">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="required formItemLabel smallInputLabel" for="pw2">Επιβεβαίωση<span
                                class="form-required">*</span>:</label>
                        <input id="pw2" name="pw2" type="{{passwordString2}}" ng-model="ctrl.item.hash"
                               ng-init="passwordString2='password'" pw-check="pw1" ng-required=""/>
                        <a type="button" class="btn btn-success btn-eye" style="background:#800000;"
                           ng-click="passwordString2==='text'?passwordString2='password':passwordString2='text';errorString='*'+pw2+'*';">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        <div class="msg-block" ng-show="itemForm.$error">
                            <span class="msg-error"
                                  ng-show="itemForm.pw2.$error.pw1">Ο κωδικός δεν ταιριάζει.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formGroupItems">
                <hr class="myHr"/>
                <span class="hrSeperator">Στοιχεία</span>
                <div class="inlineItems">
                    <!-- FIRSTNAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.fname.$invalid && !itemForm.fname.$pristine }">
                        <label for="fname" class="required formItemLabel">Όνομα<span
                                class="form-required">*</span>:</label>
                        <div class="midInput">
                            <input id="fname" name="fname" class="form-control" type="text" ng-model="ctrl.item.fname">
                        </div>
                        <p ng-show="itemForm.fname.$invalid && !itemForm.fname.$pristine" class="help-block">Εισάγετε
                            όνομα χρήστη.</p>
                    </div>
                    <!-- LASTNAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.sname.$invalid && !itemForm.sname.$pristine }">
                        <label for="sname" class="required">Επώνυμο<span
                                class="form-required">*</span>:</label>
                        <div class="midInput">
                            <input id="sname" name="sname" class="form-control" type="text" ng-model="ctrl.item.sname">
                        </div>
                        <p ng-show="itemForm.sname.$invalid && !itemForm.sname.$pristine" class="help-block">Εισάγετε
                            επώνυμο χρήστη.</p>
                    </div>
                </div>
                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.phone.$invalid && !itemForm.phone.$pristine }">
                        <label for="phone" class="required formItemLabel">Τηλέφωνο<span
                                class="form-required">*</span>:</label>
                        <div class="midInput">
                            <input id="phone" name="phone" class="form-control" type="number"
                                   ng-model="ctrl.item.phone"
                                   ng-minlength="5" ng-maxlength="10">
                        </div>
                        <p ng-show="itemForm.phone.$invalid && !itemForm.phone.$pristine" class="help-block">Εισάγετε
                            τηλέφωνο.</p>
                    </div>
                    <div class="form-group">
                        <label for="catid" class="required">Κατηγορία:</label>
                        <select id="catid" ng-model="ctrl.item.cat_id" class="form-control"
                                ng-options="ucategorie.id as ucategorie.descr for ucategorie in ucategories"> </select>
                    </div>
                </div>
            </div>
            <div class="formGroupItems">
                <hr class="myHr"/>
                <span class="hrSeperator">E-mail</span>
                <div class="form-group"
                     ng-class="{ 'has-error' : itemForm.email1.$invalid && !itemForm.email1.$pristine }">
                    <label class="required formItemLabel" for="email1">Email<span
                            class="form-required">*</span>:</label>
                    <div class="longInput">
                        <input id="email1" name="email1" class="form-control" type="email"
                               ng-model="ctrl.item.em_main">
                    </div>
                    <p ng-show="itemForm.email1.$invalid && !itemForm.email1.$pristine" class="help-block">Το e-mail
                        δεν είναι σωστό.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : itemForm.email2.$invalid  }">
                    <label for="email2" class="required formItemLabel">Email 2ο:</label>
                    <div class="longInput">
                        <input id="email2" name="email2" class="form-control" type="email"
                               ng-model="ctrl.item.em_sec">
                    </div>
                    <p ng-show="itemForm.email2.$invalid" class="help-block">Το e-mail δεν είναι σωστό.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : itemForm.emailp.$invalid}">
                    <label for="emailp" class="required formItemLabel">Email Παντείου:</label>
                    <div class="longInput">
                        <input id="emailp" name="emailp" class="form-control" type="email"
                               ng-model="ctrl.item.em_pant">
                    </div>
                    <p ng-show="itemForm.emailp.$invalid" class="help-block">Το e-mail δεν είναι σωστό.</p>
                </div>
            </div>
            <div class="formGroupItems">
                <!--stat_comm-->
                <div class="form-group">
                    <label for="comments" class="required formItemLabel">Σχόλια:</label>
                    <div class="longInput">
                        <textarea id="comments" name="comments" class="form-control" type="text"
                                  ng-model="ctrl.item.comments"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)"
                    style="padding: 5px"
                    ng-if="ctrl.item.id>0">Ανανέωση
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)"
                    style="padding: 5px"
                    ng-if="ctrl.item.fname && ctrl.item.sname && !ctrl.item.id">Αποθήκευση
            </button>
        </form>
    </div>
</div>