<!--<div>-->
<!--<div style="text-align: left;padding-left: 5px;">-->
<!--<a href back-button type="button" class="btn btn-warning">-->
<!--<span class="glyphicon glyphicon-chevron-left">-->
<!--<span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>-->
<!--</span>-->
<!--</a>-->
<!--</div>-->
<!--<div id="content" style="display: flex">-->
<!--<div id="leftColumn" class="table-responsive boxContent tableView" style="width: 100%">-->
<!--<div>-->
<!--<h2 style="text-align: center;"> Κατοχυρωμένα αιτήματα στον {{ctrl.mainData.fname}} </h2>-->
<!--</div>-->
<!--<div style="padding: 15px">-->
<!--<div style="display: flex">-->
<!--<input type="text" ng-model="filter" class="form-control" placeholder="search"-->
<!--style="padding: 5px; width: 100%">-->
<!--</div>-->
<!--<div>-->
<!--<pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"-->
<!--num-pages="numPages"></pagination>-->
<!--</div>-->
<!--<show-hide-columns colums-visibility="ctrl.tableColumns"></show-hide-columns>-->

<!--<div id="data_tbl" class="table-responsive boxContent">-->
<!--<table class="table table-striped">-->
<!--<thead>-->
<!--<tr>-->
<!--<th dm-th ng-repeat="th in ctrl.tableColumns" ng-if="th.visible"></th>-->
<!--<th>...</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="request in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:ctrl.filter"-->
<!--style="cursor: pointer" ng-class="{selected: request.id === item.id}">-->
<!--<td ng-if="ctrl.tableColumns[0].visible">{{ request.id }}</td>-->
<!--<td ng-if="ctrl.tableColumns[1].visible">{{ request.req_dt }}</td>-->
<!--<td ng-if="ctrl.tableColumns[2].visible">{{ request.users.user }}</td>-->
<!--<td ng-if="ctrl.tableColumns[3].visible"><textarea disabled>{{ request.descr }}</textarea></td>-->
<!--<td ng-if="ctrl.tableColumns[4].visible">{{ request.periods.descr }}</td>-->
<!--<td ng-if="ctrl.tableColumns[5].visible">{{ request.ps_id }}</td>-->
<!--<td ng-if="ctrl.tableColumns[6].visible">{{ request.class_use }}</td>-->
<!--<td ng-if="ctrl.tableColumns[7].visible">{{ request.links }}</td>-->
<!--<td ng-if="ctrl.tableColumns[8].visible">{{ request.fromdt }}</td>-->
<!--<td ng-if="ctrl.tableColumns[9].visible">{{ request.todt }}</td>-->
<!--<td ng-if="ctrl.tableColumns[10].visible">{{ request.protocol_id }}</td>-->
<!--<td ng-if="ctrl.tableColumns[11].visible">{{ request.req_status }}</td>-->
<!--<td ng-if="ctrl.tableColumns[12].visible">{{ request.fromd }}</td>-->
<!--<td ng-if="ctrl.tableColumns[13].visible">{{ request.tod }}</td>-->
<!--<td ng-if="ctrl.tableColumns[14].visible">{{ request.date_index }}</td>-->
<!--<td ng-if="ctrl.tableColumns[15].visible">{{ request.admin }}</td>-->
<!--<td>-->
<!--<a href="#/requests/{{request.id}}" type="button" class="btn btn-info thumb"><span-->
<!--class="glyphicon glyphicon-pencil"></span></a>-->

<!--&lt;!&ndash;//TODO: add request , directive and sent it to the request form   ADD AND EDIT    &#45;&#45;(post+put)-request  WHEN REQUESTS IS READY TO LAUNCH   &ndash;&gt;-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<pre>total requests : {{uRequest.length}}  Page: {{currentPage}} / {{numPages}}</pre>-->
<!--</div>-->
<!--</div>-->
