<navmenu></navmenu>
<div id="users_main">
    <h1> Users </h1>
    <div>total users : {{dp.length}}</div>
    <div id="options_div" style="padding: 5px" class="col-sm-4">
        <button type="button" class="btn btn-primary" ng-click="getUsers()">Get Users</button>
        <button type="button" class="btn btn-primary" ng-click="newUser()">New User</button>
    </div>
    <div ng-if="viewState['mainTable']" class="myTableHolder ">
        <input type="text" ng-model="filter" class="form-control" placeholder="search" style="padding: 5px; width: 50%">
        <span class="glyphicon glyphicon-search"></span>

        <div id="data_tbl" style="padding: 5px; height: 600px; overflow-y: auto" ng-controller="OrderByController">

            <table class="sorttable">
                <tr>
                    <th>ID</th>
                    <th>
                        <button ng-click="sortBy('tm_id')">tm_id</button>
                        <span class="sortorder" ng-show="propertyName === 'tm_id'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('fname')">fname</button>
                        <span class="sortorder" ng-show="propertyName === 'fname'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('sname')">sname</button>
                        <span class="sortorder" ng-show="propertyName === 'sname'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('phone')">phone</button>
                        <span class="sortorder" ng-show="propertyName === 'phone'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('em_main')">em_main</button>
                        <span class="sortorder" ng-show="propertyName === 'em_main'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('em_sec')">em_sec</button>
                        <span class="sortorder" ng-show="propertyName === 'em_sec'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('em_pant')">em_pant</button>
                        <span class="sortorder" ng-show="propertyName === 'em_pant'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('cat_id')">cat_id</button>
                        <span class="sortorder" ng-show="propertyName === 'cat_id'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('comments')">comments</button>
                        <span class="sortorder" ng-show="propertyName === 'comments'"
                              ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('user')">user</button>
                        <span class="sortorder" ng-show="propertyName === 'user'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <!--<th>hash</th>-->
                    <th><span class="glyphicon glyphicon-option-horizontal"></span></button></th>
                </tr>
                <tr ng-repeat="user in dp|filter:filter" style="cursor: pointer"
                    ng-class="{selected: user.id === item.id}">
                    <td>{{ user.id }}</td>
                    <td>{{ user.tm_id }}</td>
                    <td>{{ user.fname }}</td>
                    <td>{{ user.sname}}</td>
                    <td>{{ user.phone}}</td>
                    <td>{{ user.em_main}}</td>
                    <td>{{ user.em_sec}}</td>
                    <td>{{ user.em_pant}}</td>
                    <td>{{ user.cat_id}}</td>
                    <td>{{ user.comments}}</td>
                    <td>{{ user.user}}</td>
                    <!--<td>{{user.hash}}</td>-->
                    <td>
                        <button ng-click="selectUser(user);" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-click="deleteUser(user)" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button>
                        <button ng-click="getRoles(user)" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </button>
                        <button ng-click="getRequests(user)" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div ng-if="viewState['roles']">
        <button ng-click="showState('mainTable',true)" type="button" class="btn btn-primary"> <-</button>
        <table>
            <tr>
                <th>id</th>
                <th>role</th>
                <th>descr</th>
            </tr>
            <tr ng-repeat="role in uRoles">
                <td>{{ role.id }}</td>
                <td>{{ role.role }}</td>
                <td>{{ role.descr }}</td>
            </tr>
        </table>
    </div>

    <div ng-if="viewState['requests']">
        <button ng-click="showState('mainTable',true)" type="button" class="btn btn-primary"> <-</button>
        <table>
            <tr>
                <th>id</th>
                <th>req_dt</th>
                <th>user_id</th>
                <th>descr</th>
                <th>period</th>
                <th>ps_id</th>
                <th>teacher</th>
                <th>from_book</th>
                <th>class_use</th>
                <th>links</th>
                <th>fromdt</th>
                <th>todt</th>
                <th>protocol_id</th>
                <th>req_stat</th>
            </tr>
            <tr ng-repeat="request in uRequest|filter:filter">
                <td>{{ request.id }}</td>
                <td>{{ request.req_dt }}</td>
                <td>{{ request.user_id }}</td>
                <td>{{ request.descr }}</td>
                <td>{{ request.period }}</td>
                <td>{{ request.ps_id }}</td>
                <td>{{ request.teacher }}</td>
                <td>{{ request.from_book }}</td>
                <td>{{ request.class_use }}</td>
                <td>{{ request.links }}</td>
                <td>{{ request.fromdt }}</td>
                <td>{{ request.todt }}</td>
                <td>{{ request.protocol_id }}</td>
                <td>{{ request.req_stat }}</td>

            </tr>
        </table>
    </div>

    <div style="padding: 5px" ng-if="viewState['profile']">
        <button ng-click="showState('mainTable',true)" type="button" class="btn btn-primary"> <-</button>
        <!--<input type="text" ng-model="item.id" class="form-control" placeholder="id" ng-disabled="true" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.tm_id" class="form-control" placeholder="tm_id" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.fname" class="form-control" placeholder="fname" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.sname" class="form-control" placeholder="sname" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.em_main" class="form-control" placeholder="em_main" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.em_sec" class="form-control" placeholder="em_sec" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.em_pant" class="form-control" placeholder="em_pant" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.cat_id" class="form-control" placeholder="cat_id" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.comments" class="form-control" placeholder="commetns" style="padding: 5px">-->
        <!--<input type="text" ng-model="item.user" class="form-control" placeholder="user" style="padding: 5px">-->
        <!--<input type="password" ng-model="item.hash" class="form-control" placeholder="hash" style="padding: 5px">-->

        <form class="form-horizontal" ng-submit="submitForm()" role="form">
            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">ID</label>
                <div class="col-sm-6">
                    <input type="number" id="id" class="form-control" ng-disabled="true"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <!--TODO dropdown wanna be-->
            <div class="form-group">
                <label for="tm_id" class="col-sm-3 control-label">tm_id*</label>
                <div class="col-sm-6">
                    <input type="number" id="tm_id" class="form-control" ng-model="item.tm_id"/>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group">
                <label for="fname" class="col-sm-3 control-label">First Name*</label>
                <div class="col-sm-6">
                    <input type="text" id="fname" class="form-control" ng-model="item.fname"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="sname" class="col-sm-3 control-label">Last Name*</label>
                <div class="col-sm-6">
                    <input type="text" id="sname" class="form-control" ng-model="item.sname"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="em_main" class="col-sm-3 control-label">E-Mail_Main*</label>
                <div class="col-sm-6">
                    <input type="email" id="em_main" class="form-control" ng-model="item.em_main"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="em_sec" class="col-sm-3 control-label">E-Mail_Secondary</label>
                <div class="col-sm-6">
                    <input type="email" id="em_sec" class="form-control" ng-model="item.em_sec"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="em_pant" class="col-sm-3 control-label">E-Mail_Panteiou</label>
                <div class="col-sm-6">
                    <input type="email" id="em_pant" class="form-control" ng-model="item.em_pant"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="cat_id" class="col-sm-3 control-label">cat_id</label>
                <div class="col-sm-6">
                    <input type="text" id="cat_id" class="form-control" ng-model="item.cat_id"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="comments" class="col-sm-3 control-label">Comments</label>
                <div class="col-sm-6">
                    <textarea name="message" style="width:200px; height:600px;" id="comments" class="form-control"
                              ng-model="item.comments"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="user" class="col-sm-3 control-label">UserName</label>
                <div class="col-sm-6">
                    <input type="text" id="user" class="form-control" ng-model="item.user"/>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="form-group">
                <label for="hash" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" id="hash" class="form-control" ng-model="item.hash"/>
                </div>
                <div class="col-sm-3"></div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary col-sm-offset-3"/>
            <input type="reset" value="Reset" ng-click="resetForm()" class="btn"/> <br/>
        </form>


        <button type="button" class="btn btn-primary" ng-click="updateUser(item)" style="padding: 5px"
                ng-if="item.id>0">Upd User
        </button>
        <button type="button" class="btn btn-primary" ng-click="saveUser(item)" style="padding: 5px"
                ng-if="item.tm_id && !item.id">Save User
        </button>
    </div>
</div>
