<div>
    <div style="text-align: left;padding-left: 5px;">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <form class="roomUseForm" name="roomUseForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : roomUseForm.synt.$invalid && !roomUseForm.synt.$pristine }">
            <label class="required" for="synt">Συντομογραφία<span class="form-required">*</span>:</label>
            <input id="synt" name="synt" class="form-control" type="text" ng-model="ctrl.item.synt" ng-minlength="1"
                   ng-maxlength="4">
            <p ng-show="roomUseForm.synt.$invalid && !roomUseForm.synt.$pristine" class="help-block">Εισάγετε
                συντομογραφία.Μέχρι 4 γράμματα.</p>
        </div>
        <div class="form-group">
            <label for="description">Περιγραφή:</label>
            <textarea id="description" name="comments" class="form-control" ng-model="ctrl.item.descr"></textarea>
        </div>
        <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.id>0">Ανανέωση
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.synt && !ctrl.item.id">Αποθήκευση
        </button>
    </form>
</div>