<div class="container"
     style="width: 100%;background: rgba(241,89,42,0.20);position: fixed;bottom: 0px;margin-bottom: 0px !important;color: #000000 !important;border-top: 1px solid #848484;font-size: 11px;">
    <div id="footer" style="clear:both;padding-bottom:20px;">
        <span style="text-align:right;float:left;">All Right Reserved ... &reg; Copyright &copy; 2016-2018</span>
        <span style="text-align:right;float:right;">Powered by <a class="myLink" href="#" target="_blank"
                                                                  name="Digimagix" title="Digimagix"
                                                                  style="font-weight:bold;color:#ff9a7b;">Digimagix</a></span>
    </div>
</div>