<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://app.livepraktoreio.gr/#/home">LiVE Πρακτορειο 4000</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            <ul class="nav navbar-nav navbar-left" style="margin-left:50px;">
                <li ng-repeat="ap in appProvider track by $index"
                    class="applinks {{ap.subapps && ap.subapps.length>0?'dropdown':''}} {{appid==ap.id?'active':''}}"
                    style="background-color: rgba(0, 0, 0, 0.32);">
                    <a class="{{ap.subapps && ap.subapps.length>0?'dropdown-toggle':''}}" href=""
                       data-toggle="{{ap.subapps && ap.subapps.length>0?'dropdown':''}}"
                       ng-click="ap.subapps && ap.subapps.length>0?null:setFilterOptions(ap)">{{ap.descr}}<span
                            ng-if="ap.subapps && ap.subapps.length>0" class="caret"></span></a>
                    <ul class="dropdown-menu" style="background-color: rgba(64, 64, 64, 0.84);"
                        ng-if="ap.subapps && ap.subapps.length>0">
                        <li ng-repeat="a in ap.subapps" class="applinks {{appid==a.id?'active':''}}">
                            <a href="" ng-click="setFilterOptions(a)">{{a.descr}}</a>
                        </li>
                    </ul>

                </li>
                <li class="applinks" style="background-color: rgba(255, 0, 0, 0.32);">
                    <a class="" href="" ng-click="myDevices=true;">Οι Συσκευές μου</span></a>
                </li>
            </ul>
        </div>
        <span style="cursor: pointer;position: absolute;top: 0px;right: 200px;height: 48px;line-height: 48px;max-width: 100px;color: #ffffff; margin-right:20px;background-color:rgba(0, 0, 0, 0.70);padding-left: 10px;padding-right: 10px;min-width: 100px;text-align: center;width"
              ng-click="openProfile();"><i class="fa fa-user"
                                           aria-hidden="true"></i> {{globals.currentUser.user}}  <span class="caret"
                                                                                                       ng-click="openProfile();"></span></span>
        <span class="li-social">
            <a href="https://www.facebook.com/livepraktoreiogr/"><i class="fa fa-facebook"></i></a>
            <!-- <a href="#"classlass="fa fa-twitter"></i></a> -->
            <a href="mailto:info@livepraktoreio.gr"><i class="fa fa-envelope"></i></a>
            <a href="#"><i class="fa fa-phone"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
        </span>
    </div>
</nav>