<!--<div class="appsContainer" style="display: flex;">
    <div ng-repeat="ap in apps" style="max-width:100px;min-width:100px;width:100px;max-height:100px;min-height:100px;height:100px;background-color: #9955bb;border: 1px solid #ffffff;margin: 5px;">{{ap.name}}</div>
</div>-->

<li ng-repeat="ap in apps" class="applinks" style="background-color: rgba(62, 177, 0, 0.32);"><a class="active"
                                                                                                 href="#">{{ap.name}}</a>
</li>