<div id="rooms_main" class="pageHolder" style="overflow-y: auto; padding: 5px;border: 1px solid #ababab;"
     ng-controller="UserViewController">
    <div style="display: block; border: 1px solid #ababab; ">
        <div style="width: 100%; text-align: center; font-size: 18px; font-weight: 600; background-color: moccasin; padding: 6px">
            Πίνακας ελέγχου
        </div>
        <form-item-selector selector-title="Config" return-column="id" view-column="year"
                            dp="config" searchable="false" output-value="config_id"
                            style="width: 100%">
        </form-item-selector>
    </div>

    <div id="daBoMenu" style="border: 1px solid #ababab; padding: 2px; display: flex; width: 100%;height: 51px">
        <div class="btn-group" ng-init="selPage=0" style="width: 100%; display: contents;">
            <button type="button" class="btn btn-primary btn-md" ng-click="selPage = 0"
                    style="width: 100%; padding: 2px">Προς έγκριση
            </button>
            <button type="button" class="btn btn-primary btn-md" ng-click="selPage = 1"
                    style="width: 100%; padding: 2px">Διεκπεραιωμένα
            </button>
            <button type="button" class="btn btn-primary btn-md" ng-click="selPage = 2"
                    style="width: 100%; padding: 2px">Πρόχειρα
            </button>
            <button type="button" class="btn btn-primary btn-md" ng-click="selPage = 3"
                    style="width: 100%; padding: 2px">Αιτήματα προς Διαχειριση
            </button>
        </div>
    </div>
    <div style="display:contents; height: auto; border: 1px solid #ababab; padding: 2px; width: 100%">

        <dash-board-table title="Προς έγκριση" status="0" dp="pendingRequests" ng-if="selPage===0"
                          style=" height:100% ;width: 100%;"></dash-board-table>

        <dash-board-table title="Διεκπεραιωμένα" status="1" dp="doneRequests" ng-if="selPage===1"
                          style="height:100% ; width: 100%;"></dash-board-table>

        <dash-board-table title="Πρόχειρα" status="3" dp="draftRequests" ng-if="selPage===2"
                          style="height:100% ;width: 100%; "></dash-board-table>

        <div id="data_tbl" class="boxContent" style="height: 100%;" ng-if="selPage===3">
            <div style="width: 100%; text-align: center; font-size: 18px; font-weight: 600; background-color: moccasin; padding: 6px">
                Αιτήματα προς Διαχειριση
            </div>
            <table class="table table-hover table-striped table-responsive table-condensed">
                <thead style="background-color: #cecece;">
                <tr>
                    <th>ID</th>
                    <th>Από Χρήστη</th>
                    <!--<th>Προς Χρήστη</th>-->
                    <th>Σχόλια Αιτούντα</th>
                    <!--<th>ID Αιτήματος</th>-->
                    <th>Σχόλια απαντητικό</th>
                    <th>Επιβεβαίωση</th>
                    <th>Status</th>
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in usersrequests |filter:search"
                    style="cursor: pointer; background-color: {{item.selected?'#b2b2b2':''}}">
                    <td>{{item.id}}</td>
                    <td>{{ item.fromuser.fname }} {{item.fromuser.sname}}</td>
                    <!--<td>{{ item.tousers.fname }}</td>-->
                    <td>{{ item.comments }}</td>
                    <!--<td>{{ item.rr_id }}</td>-->
                    <td><input type="text" ng-model="item.to_comment" class="form-control input-sm"/></td>
                    <!--{{ item.to_comment }}</td>-->
                    <td>{{ item.confirm }}</td>
                    <td>{{ item.status}}</td>
                    <!--ng-show="showStatus()"-->
                    <td>
                        <button type="button" class="btn btn-success hippo" tooltip-placement="left"
                                uib-tooltip="Έγκριση" value='Έγκριση' ng-click="acceptReq(item)">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>


                        <button type="button" class="btn btn-danger hippo" tooltip-placement="left"
                                uib-tooltip="Απόρριψη" value='Απόρριψη' ng-click="declineReq(item)"><span
                                class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <button type="button" class="btn btn-info hippo" tooltip-placement="left"
                                uib-tooltip="Επισκόπηση" value='Επισκόπηση' ng-click="selectRRid(item.rr_id , item)">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--TODO: To parakatv e;inai gia ta expired-->
        <!--<div style="display: flex; height: 35%">
            <dash-board-table title="Ληγμένα" status="2" dp="expiredRequests"
                              style="height:100% ;width: 100%; margin: 5px; border: 1px solid #5d0303"></dash-board-table>
        </div>-->

    </div>
</div>

