<div id="ps_main" class="pageHolder">
    <div class="pageHeader">
        <div class="pageButtons">
            <div class="operations">
                <operations ng-repeat="op in ctrl.operations"
                            hr="{{ctrl.selectedRow?op.hr.replace('id',ctrl.selectedRow.id):null}}"
                            content="{{op.content}}" gicon="{{op.gicon}}" place="{{op.place}}"></operations>
                <delete-row-button ng-click="ctrl.delete(ctrl.selectedRow)"></delete-row-button>
            </div>
            <table-tools class="pageTools"></table-tools>
        </div>
        <dm-title class="pageTitle"></dm-title>
        </div>

    <!--<div class="pageTools">
        <show-hide-columns colums-visibility="ctrl.tableColumns"></show-hide-columns>
    </div>-->

    <div id="data_tbl" class="boxContent">
        <table class="sorttable table table-hover table-striped table-responsive table-header-fixed table-condensed">
            <thead class="header-fixed" style="background-color: #cecece;">
                <tr>
                    <th dm-th ng-repeat="th in ctrl.tableColumns" ng-if="th.visible"
                        style="{{th.title.lastIndexOf('.')===th.title.length-1?'width:50px;':'width:'+(th.title.length*10+20)+'px;'}}min-width: 20px;max-width: 200px;padding: 0px 5px 2px 5px;font-size: 12px;font-weight: normal;{{$index === 0?'width:44px':''}}"></th>
                    <th class="columnSettings">
                        <show-hide-columns colums-visibility="ctrl.tableColumns"></show-hide-columns>
                    </th>
                </tr>
            </thead>
            <tbody class="contentScroll">
                <tr ng-repeat="item in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:ctrl.filter"
                    style="cursor: pointer;display: table-row; background-color: {{item.selected?'#787878':''}}"
                    ng-click="ctrl.selectRow(item)">
                    <td ng-if="ctrl.tableColumns[0].visible">{{ item.id }}</td>
                    <td ng-if="ctrl.tableColumns[1].visible">{{ item.tm_code }}</td>
                    <td ng-if="ctrl.tableColumns[2].visible">{{ item.tm_per }}</td>
                    <td ng-if="ctrl.tableColumns[3].visible">{{ item.pm }}</td>
                    <td ng-if="ctrl.tableColumns[4].visible">{{ item.tma_code }}</td>
                    <td ng-if="ctrl.tableColumns[5].visible">{{ item.tma_per }}</td>
                    <td ng-if="ctrl.tableColumns[6].visible">{{ item.ps_ex }}</td>
                    <td ng-if="ctrl.tableColumns[7].visible">{{ item.ps_dm }}</td>
                    <td ng-if="ctrl.tableColumns[8].visible">{{ item.ps_km }}</td>
                    <td ng-if="ctrl.tableColumns[9].visible">{{ item.teacher }}</td>
                    <td ng-if="ctrl.tableColumns[10].visible">{{ item.config.year }}</td>
                    <td ng-if="ctrl.tableColumns[10].visible">{{ item.ps_id }}</td>
                    <td style="width:30px;"></td>
                </tr>
                </tbody>
            </table>
        </div>
    <div class="pagePagination">
        <div>
            <pagination current-page="currentPage" total-items="ctrl.totalRows" items-per-page="itemsPerPage"
                        num-pages="numPages"></pagination>
        </div>
        <!--<pre>total requests list : {{ctrl.dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>-->
    </div>
</div>