<div style="">
    <div style="width: 100%; display: flex">
        <label class=" formItemLabel" for="fromd" style="max-width: 140px">{{"Από ημ/νία"| translate}}: {{item.fromd |
            date:'d/M/y'
            }}</label>
        <div class="input-group" style="max-width: 300px; min-width: 140px">

            <input id="fromd" name="fromd" type="text" class="form-control"
                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                   ng-model="fromd" ng-value="fromd|date:'dd-MM-yyyy'"
                   is-open="fromVisible" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="fromVisible=true;">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
        </div>
    </div>

    <div style="width: 100%; display: flex">
        <label class=" formItemLabel" for="tod" style="max-width: 140px">{{"Έως ημ/νία"| translate}}: {{item.tod |
            date:'d/M/y'}}</label>
        <div class="input-group" style="max-width: 300px ; min-width: 140px">
            <input id="tod" name="tod" type="text" class="form-control"
                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                   ng-model="tod" ng-value="tod|date:'dd-MM-yyyy'"
                   is-open="toVisible" ng-required="true" close-text="Close"/>
            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toVisible=true;">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
        </div>
    </div>
</div>