<div ng-show="mode!=='inserting'">

</div>

<div style=" border: 1px solid #ababab;">
    <div style="padding: 5px; display: flex" class="inlineItems">

        <select name="ckm" id="ckm" ng-model="courseFilterObj.pskm" class="midInput">
            <option value="">Ολες Κατ. Μαθ.</option> <!-- not selected / blank option -->
            <option value="ΥΠ">ΥΠ</option> <!-- interpolation -->
            <option value="ΕΥ">ΕΥ</option>
            <option value="ΕΕ">ΕΕ</option>
            <option value="ΣΕ">ΣΕ</option>
            <option value="ΕΡΓ">ΕΡΓ</option>
            <option value="ΥΑ">ΥΑ</option>
        </select>

        <select name="cpm" id="cpm" ng-model="courseFilterObj.psex" class="midInput">
            <option value="">Όλα τα εξάμηνα</option> <!-- not selected / blank option -->
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <select name="cpm" id="cpm2" ng-model="courseFilterObj.pm" class="midInput">
            <option value="">Προπτυχιακά & Μεταπτυχιακά</option> <!-- not selected / blank option -->
            <option value="ΠΡΟ">Προπτυχιακά</option> <!-- interpolation -->
            <option value="ΜΕΤ">Μεταπτυχιακά</option>
        </select>

        <select id="tm" ng-options="tm.id as tm.per for tm in tms"
                ng-model="courseFilterObj.tm" ng-show="fromAnotherPage" style="min-width: 0px;">
        </select>

        <button tooltip-placement="left" uib-tooltip="Φίλτρο" class="btn btn-primary"
                ng-click="filterCourses(coursesDp, courses, courseFilterObj)">
            <span class="glyphicon glyphicon-search"></span>
        </button>
        <button tooltip-placement="left" uib-tooltip="Επιλογή όλων" class="btn btn-primary" ng-click="selectAllCourse()"
                ng-if="fromAnotherPage">
            <span class="glyphicon glyphicon-asterisk"></span>
        </button>
        <button tooltip-placement="left" uib-tooltip="Καθαρισμός όλων" class="btn btn-danger"
                ng-click="deselectAllCourse()" ng-if="fromAnotherPage">
            <span class="glyphicon glyphicon-asterisk"></span>
        </button>
    </div>
    <div style="overflow-y: auto; height: 350px; padding: 5px;  border: 1px solid #ababab;">
        <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); grid-gap: 10px; grid-auto-flow: dense;
                    list-style: none; margin: 1em auto; padding: 0;">
            <div ng-repeat="course in coursesDp" ng-click="selectCourse(course)"
                 class="btn btn-{{course.selected?'success':'primary'}}"
                 style="cursor: pointer; padding: 4px; font-size: 12px;
                 border: 1px solid #ababab; ">
                <div>
                    <div>{{course.tma_code}}</div>
                    <div>{{course.tma_per}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
