<div style=" border: 1px solid #ababab;">
    <div>
        <h5>Επιλογή Ημερών</h5>
    </div>
    <div style="display: flex">
        <config-book-graph selected-period="selectedPeriod" style="width: 30%"></config-book-graph>
        <div style="width: 100%; padding: 4px 0px; text-align: center;">
            <from-to-date-picker fromd="item.fromd" tod="item.tod"></from-to-date-picker>
            <div style="display: flex; ">
                <div ng-repeat="sday in selectedDays" ng-click="dayChecked(sday)"
                     class="btn btn-{{sday.s?'success':'primary'}}"
                     style="cursor: pointer; padding: 4px; font-size: 10px; width: 100%; margin: 0px 4px 4px;
                 border: 1px solid #ababab; box-shadow: 1px 1px 3px #ababab">
                    <div>
                        <!--<span class="glyphicon glyphicon-{{sday.s?'ok':'remove'}}"></span>-->
                        {{sday.d}}
                    </div>
                </div>
            </div>
            <!--<from-to-time-picker fromt="item.fromt" tot="item.tot"></from-to-time-picker>-->
        </div>
    </div>
</div>
