<div>
    <div style="display: flex">
        <config-book-graph selected-period="selectedPeriod" style=""></config-book-graph>
        <from-to-date-picker fromd="item.fromd" tod="item.tod"></from-to-date-picker>
        <div style="display: flex; width: 100% ">
            <div ng-repeat="sday in selectedDays" ng-click="dayChecked(sday)"
                 class="btn btn-{{sday.s?'success':'primary'}}"
                 style="cursor: pointer; padding: 4px; font-size: 10px; width: 100%; margin: 0px 4px 4px;
                 border: 1px solid #ababab; box-shadow: 1px 1px 3px #ababab">
                <div>
                    <!--<span class="glyphicon glyphicon-{{sday.s?'ok':'remove'}}"></span>-->
                    {{sday.d}}
                </div>
            </div>
            <button ng-click="selectAllDays()" class="btn btn-{{sday.s?'success':'warning'}}"
                    style="margin: 4px; border: 1px solid #ababab; " ng-show="fromAnotherPage">
                {{dayState?'Απεπιλ.':'Επιλ.'}} όλων
            </button>
        </div>
    </div>
</div>
