<div>
    <button ng-click="newGuest()">Guests</button>
    <table class="sorttable table table-hover table-striped table-responsive header-fixed">
        <thead>
        <tr>
            <th>Name</th>
            <th>University</th>
            <th>E-Mail</th>
            <th>Phone</th>
            <th>Comments</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in item.guests"
            style="cursor: pointer">
            <td><input ng-model="item.name" type="text"></td>
            <td><input ng-model="item.uni" type="text"></td>
            <td><input ng-model="item.email" type="text"></td>
            <td><input ng-model="item.phone" type="text"></td>
            <td><input ng-model="item.comment" type="text"></td>
            <td>
                <button ng-click="deleteGuest(item)" type="button" class="btn btn-danger hippo" tooltip-placement="left"
                        uib-tooltip="Διαγραφή">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>