<div style=" border: 1px solid #ababab; padding: 2px">

    <!--<h1>{{tmpDate+''}}</h1>-->
    <div id="selectedParams" style="display: flex">
        <!--<div>Τρέχουσες επιλογές</div>-->
        <!-- <div id="selectedUse" style="width: 100%">
             <div>Χρήση : {{selectedUse.synt}}</div>
         </div>
         <div id="selectedCourse" style="width: 100%">
             <div>Μάθημα : {{selectedCourse.tma_code}} - {{selectedCourse.tma_per}}</div>
         </div>-->
        <!--<div id="selectedRoom" style="width: 100%; display: flex; overflow-x: auto;">
            <div ng-repeat="room in selectedRooms">- {{room.name}}</div>
        </div>-->
        <button ng-click="reload()" class="btn btn-warning"
                style="margin: 4px; border: 1px solid #ababab; ">Αρχηκοποίηση
        </button>
        <div style="position: center ; width: 100%">
            <status-selector options="requestViewStatus" status-title="Request status"
                             output-value="item.status"></status-selector>
        </div>
        <div style="position: center ; width: 30%">
            <label>Τμήματα :</label>
            <select id="tm"
                    ng-options="tm.id as (tm.descr)+(tm.ku_code?' / '+tm.ku_code:' / - ')+(tm.mku_code?' / '+tm.mku_code:' / - ')+(tm.mp_code?' / '+tm.mp_code:'') for tm in personalTms"
                    ng-model="item.tm_id" style="min-width: 0px;">
            </select>
        </div>
        <div>
            <a tooltip-placement="left" uib-tooltip="NEW" type="button" class="btn btn-primary hippo"
               ng-click="newUserRequest()" style="min-width: 50px; border-radius: 0px;">
                <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <!--href="#/usercreaterequests"-->

        <div>
            <button ng-hide="adminConfiguration()" tooltip-placement="left" uib-tooltip="COPY DAY" type="button"
                    class="btn btn-primary hippo"
                    ng-click="copyDayRequest(calendarSelectedDay)" style="min-width: 50px; border-radius: 0px;">
                <span class="glyphicon glyphicon-copy"></span></button>
        </div>
        <div>
            <button ng-hide="enablePost(item)" tooltip-placement="left" uib-tooltip="POST" type="button"
                    class="btn btn-primary hippo"
                    ng-click="postUserRequest(item)" style="min-width: 50px; border-radius: 0px;"
            >
                <span class="glyphicon glyphicon-saved"></span></button>
        </div>
    </div>
    <!--<req-navigation></req-navigation>-->

</div>