<div id="psstats_main">
    <div><h2 style="text-align: center;"> {{ctrl.title}} </h2></div>
    <div style="display: flex">
        <input type="text" ng-model="filter" class="form-control" placeholder="search"
               style="padding: 5px; width: 100%">
        <button type="button" class="btn btn-primary" ng-click="ctrl.getAll()"
                style="min-width: 50px; border-radius: 0px;">
            <span class="glyphicon glyphicon-cloud-download"></span>
        </button>
        <a href="#/psstats/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div>
        <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                    num-pages="numPages"></pagination>
    </div>
    <div id="data_tbl" class="table-responsive boxContent">
        <table class="sorttable table table-hover table-striped table-responsive header-fixed">
            <thead>
            <tr>

                <th dm-th ng-repeat="th in ctrl.tableColumns" ng-if="th.visible"></th>
                <th>...</th>

            <tbody>
            <tr ng-repeat="psstat in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:ctrl.filter|orderBy:propertyName:reverse"
                style="cursor: pointer" ng-class="{selected: psstat.id === item.id}">
                <td ng-if="ctrl.tableColumns[0].visible">{{ psstat.id }}</td>
                <td ng-if="ctrl.tableColumns[1].visible">{{ psstat.ps_id }}</td>
                <td ng-if="ctrl.tableColumns[2].visible">{{ psstat.diloseis }}</td>
                <td ng-if="ctrl.tableColumns[3].visible">{{ psstat.exetaseis }}</td>
                <td>
                    <a href="#/psstats/{{psstat.id}}" type="button" class="btn btn-info thumb"><span
                            class="glyphicon glyphicon-pencil"></span></a>
                    <button ng-click="ctrl.delete(psstat)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pre>total ps statistics list : {{dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
</div>






