<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Αίθουσα</th>
            <th>Από ώρα</th>
            <th>Μέχρι ώρα</th>
            <th>Ημέρα</th>
            <th>Καθηγητής</th>
            <th>Σχόλια</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.ldp.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:ctrl.filter"
            style="cursor: pointer">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <th>{{ item.pivot.fromt}}</th>
            <th>{{ item.pivot.tot }}</th>
            <th>{{ item.pivot.date_index}}</th>
            <th>{{ getTeacher(item.pivot.teacher) }}</th>
            <th>{{ item.pivot.comment }}</th>
            <td>
                <button ng-click="ctrl.editPivotData(item)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="ctrl.deleteData(item.pivot.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>