<div>
    <div style="text-align: left;padding-left: 5px;">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <div id="content" style="display: flex">
        <div id="leftColumn" class="table-responsive boxContent tableView" style="width: 100%">
            <div>
                <h2 style="text-align: center;"> Κατοχυρωμένοι αιθουσες στο {{ctrl.mainData.descr}} </h2>
            </div>
            <div style="padding: 15px">
                <div style="display: flex">
                    <input name="searchownroles" type="text" ng-model="ctrl.filter" class="form-control"
                           placeholder="search"
                           style="padding: 5px; width: 100%">
                </div>
                <div>
                    <pagination current-page="currentPageL" total-items="ctrl.ldp.length"
                                items-per-page="itemsPerPageL" num-pages="numPagesL"></pagination>
                    <left-table></left-table>
                    <pre>total rooms per request : {{ctrl.ldp.length}}  Page: {{currentPageL}} / {{numPagesL}}</pre>
                </div>
            </div>
        </div>
        <div id="rightColumn" style="width: 100%">
            <div class="table-responsive boxContent" ng-if="!ctrl.pivotData">
                <div>
                    <h2 style="text-align: center;"> Διαθέσιμες αιθουσες </h2>
                </div>
                <div style="padding: 15px">
                    <div style="display: flex">
                        <input name="searchexistroles" type="text" ng-model="ctrl.filterR" class="form-control"
                               placeholder="search"
                               style="padding: 5px; width: 100%">
                    </div>
                    <div>
                        <pagination current-page="currentPageR" total-items="ctrl.rdp.length"
                                    items-per-page="itemsPerPageR" num-pages="numPagesR"></pagination>
                        <right-table></right-table>
                    </div>
                    <pre>total requests : {{ctrl.rdp.length}}  Page: {{currentPageR}} / {{numPagesR}}</pre>
                </div>
            </div>
            <div ng-show="ctrl.pivotData" style="width: 100%">
                <div class="table-responsive boxContent">
                    <div style="padding: 15px">
                        <div>
                            <pivot-form></pivot-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


