<div>
    <form>
        <div class="form-group">
            <label>Σχόλια:<input type="text" ng-model="ctrl.pivotData.comment" class="form-control"
                                 placeholder="comment"></label>
        </div>
        <div>
            <label for="fromt">Από ώρα:</label>
            <div id="fromt" name="fromt" uib-timepicker ng-model="ctrl.pivotData.fromt" ng-change="changed()"
                 show-meridian="false">
                <div/>
        </div>
        <div>
            <label for="tot">Μέχρι ώρα:</label>
            <div id="tot" name="tot" uib-timepicker ng-model="ctrl.pivotData.tot" ng-change="changed()"
                 show-meridian="false"></div>
        </div>
            <div>{{ctrl.pivotData.tot | date:'shortTime' }}</div>
        <status-selector status-title="Ημέρα Διεξαγωγής" options="weekdaysTableDateIndex"
                         output-value="ctrl.pivotData.date_index"></status-selector>
        <div class="form-group">
            <label class="required" for="teacher">Υπευθυνος Καθηγητης:</label>
            <select id="teacher" name="teacher" class="form-control" ng-model="ctrl.pivotData.teacher"
                    ng-options="user.id as user.user for user in teachers"></select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="insertRoom()" style="padding: 5px">ok
        </button>
        <button type="button" class="btn btn-primary" ng-click="cancelData()" style="padding: 5px">
            cancel
        </button>
    </form>
</div>