<div id="psstats_main">
    <div>
        <dm-title></dm-title>
    </div>
    <div style="padding: 15px">
        <table-tools></table-tools>
        <div>
            <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                        num-pages="numPages"></pagination>
        </div>
        <show-hide-columns colums-visibility="ctrl.tableColumns"></show-hide-columns>
        <div id="data_tbl" class="table-responsive boxContent">
            <table class="sorttable table table-hover table-striped table-responsive header-fixed">
                <thead>
                <tr>
                    <th dm-th ng-repeat="th in ctrl.tableColumns" ng-if="th.visible"></th>
                    <th>...</th>
                <tbody>
                <tr ng-repeat="item in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:ctrl.filter"
                    style="cursor: pointer">
                    <td ng-if="ctrl.tableColumns[0].visible">{{ item.requests.descr }}</td>
                    <td ng-if="ctrl.tableColumns[1].visible">{{ item.name }}</td>
                    <td ng-if="ctrl.tableColumns[2].visible">{{ item.uni }}</td>
                    <td ng-if="ctrl.tableColumns[3].visible">{{ item.email }}</td>
                    <td ng-if="ctrl.tableColumns[4].visible">{{ item.phone }}</td>
                    <td ng-if="ctrl.tableColumns[5].visible"><textarea>{{ item.comment }}</textarea></td>
                    <td>
                        <operations ng-repeat="op in ctrl.operations" hr="{{op.hr.replace('id', item.id)}}"
                                    content="{{op.content}}" gicon="{{op.gicon}}"></operations>
                        <delete-row-button ng-click="ctrl.delete(item)"></delete-row-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pre>total guests list : {{ctrl.dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>






