<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageButtons">
            <a href back-button type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left">
					<span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
				</span>
            </a>
        </div>
        <div class="pageTitle">Διαχείριση Αιτήματος</div>
    </div>
    <div class="contentHolder">
        <form class="itemForm" name="itemForm" novalidate style="padding: 20px;border:1px solid #cdcdcd">
            <div class="formGroupItems">
                <div class="form-group">
                    <label class=" formItemLabel">Περιγραφή:</label>
                    <div class="longInput">
                        <textarea id="description" name="comments" class="form-control" type="text"
                                  ng-model="ctrl.item.descr"></textarea>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : itemForm.user_id.$invalid && !itemForm.user_id.$pristine }">
                    <label class=" formItemLabel" for="user_id">Username<span
                            class="form-required">*</span>:</label>
                    <div class="longInput">
                        <select id="user_id" name="user_id" class="form-control" ng-model="ctrl.item.user_id"
                                ng-options="users.id as users.user for users in users"></select>
                    </div>
                    <p ng-show="itemForm.user_id.$invalid && !itemForm.user_id.$pristine" class="help-block">
                        Εισάγετε
                        όνομα χρήστη/username.</p>
                </div>
                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.req_dt.$invalid && !itemForm.req_dt.$pristine }">
                        <label class=" formItemLabel" for="req_dt">Ημ/νία Αιτήματος<span
                                class="form-required">*</span>:</label>
                        <div class="midInput">
                            <input id="req_dt" name="req_dt" class="form-control" ng-model="ctrl.item.req_dt">
                            <script type="text/javascript">
                                document.getElementById('req_dt').value = new Date();
                            </script>
                        </div>
                        <p ng-show="itemForm.req_dt.$invalid && !itemForm.req_dt.$pristine" class="help-block">
                            Εισάγετε
                            ημερομηνία αιτήματος.</p>
                    </div>
                    <div class="directiveFormItem">
                        <status-selector status-title="Κατάσταση" options="requestStatus"
                                         output-value="ctrl.item.status"></status-selector>
                    </div>
                </div>
                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.period.$invalid && !itemForm.period.$pristine }">
                        <label class=" formItemLabel" for="period">Ακαδημαϊκή Περίοδος<span
                                class="form-required">*</span>:</label>
                        <div class="midInput">
                            <select id="period" name="period" class="form-control" ng-model="ctrl.item.period"
                                    ng-options="period.id as period.descr for period in periods"></select>
                        </div>
                        <p ng-show="itemForm.period.$invalid && !itemForm.period.$pristine" class="help-block">
                            Εισάγετε
                            ακαδημαϊκή περίοδο.</p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.conf_id.$invalid && !itemForm.conf_id.$pristine }">
                        <label class=" formItemLabel" for="conf_id" style="min-width: 90px;">Έτος<span
                                class="form-required">*</span>:</label>
                        <div class="smallInput">
                            <select id="conf_id" name="conf_id" class="form-control" ng-model="ctrl.item.conf_id"
                                    ng-options="config.id as config.year for config in configs"></select>
                        </div>
                        <p ng-show="itemForm.conf_id.$invalid && !itemForm.conf_id.$pristine" class="help-block">
                            Εισάγετε
                            έτος.</p>
                    </div>
                </div>


                <div class="form-group">
                    <form-item-selector class="longInput" output-value="ctrl.item.ps_id"
                                        selector-title="Πρόγραμμα Σπουδών"
                                        searchable="true" dp="ps" view-column="tma_per"
                                        return-column="id"></form-item-selector>

                </div>
                <div class="inlineItems">
                    <div class="form-group">
                        <label class=" formItemLabel" for="class_use">Χρήση Αίθουσας:</label>
                        <div class="smallInput">
                            <select id="class_use" name="class_use" class="form-control" ng-model="ctrl.item.class_use"
                                    ng-options="class_use.id as class_use.synt for class_use in room_use"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class=" formItemLabel" for="protocol_id">Αρ.πρωτοκόλλου:</label>
                        <div class="smallInput">
                            <input id="protocol_id" name="protocol_id" class="form-control" type="text"
                                   ng-model="ctrl.item.protocol_id">
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class=" formItemLabel" for="links">Παραποµπές:</label>
                    <div class="longInput">
                        <input id="links" name="links" class="form-control" type="text" ng-model="ctrl.item.links">
                    </div>
                </div>
                <div class="inlineItems">
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.fromd.$invalid && !itemForm.fromd.$pristine }">
                        <label class=" formItemLabel" for="fromd">Από ημέρα<span
                                class="form-required">*</span>:</label>
                        <div class="input-group">
                            <input id="fromd" name="fromd" type="text" class="form-control"
                                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                                   ng-model="ctrl.item.fromd" ng-value="ctrl.item.fromd|date:'dd-MM-yyyy'"
                                   is-open="popup1.opened" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <p ng-show="itemForm.fromd.$invalid && !itemForm.fromd.$pristine" class="help-block">Εισάγετε
                            ημερομηνιά έναρξης.</p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : itemForm.tod.$invalid && !itemForm.tod.$pristine }">
                        <label class=" formItemLabel" for="tod">Μέχρι ημέρα<span
                                class="form-required">*</span>:</label>
                        <div class="input-group">
                            <input id="tod" name="tod" type="text" class="form-control"
                                   uib-datepicker-popup="{{'dd-MM-yyyy'}}"
                                   ng-model="ctrl.item.tod" ng-value="ctrl.item.tod|date:'dd-MM-yyyy'"
                                   is-open="popup2.opened" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                        <p ng-show="itemForm.tod.$invalid && !itemForm.tod.$pristine" class="help-block">Εισάγετε
                            ημερομηνιά
                            λήξης.</p>
                    </div>
                </div>
                <div class="form-group">
                    <form-item-selector selector-title="Επιβλέπων" return-column="id" view-column="user"
                                        dp="users" searchable="false" output-value="ctrl.item.admin" class="longInput">

                    </form-item-selector>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.id>0">Ανανέωση
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.req_dt && !ctrl.item.id">Αποθήκευση
            </button>
        </form>
    </div>
</div>