<div>
    <div style="text-align: left;padding-left: 5px;">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <form class="requestForm" name="requestForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.req_dt.$invalid && !requestForm.req_dt.$pristine }">
            <label class="required" for="req_dt">Ημ/νία Αιτήματος<span class="form-required">*</span>:</label>
            <input id="req_dt" name="req_dt" class="form-control" type="text" ng-model="ctrl.item.req_dt">
            <p ng-show="requestForm.req_dt.$invalid && !requestForm.req_dt.$pristine" class="help-block">Εισάγετε
                ημερομηνία αιτήματος.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.user_id.$invalid && !requestForm.user_id.$pristine }">
            <label class="required" for="user_id">Username<span class="form-required">*</span>:</label>
            <select id="user_id" name="user_id" ng-model="ctrl.item.user_id"
                    ng-options="users.id as users.user for users in users"></select>
            <p ng-show="requestForm.user_id.$invalid && !requestForm.user_id.$pristine" class="help-block">Εισάγετε
                όνομα χρήστη/username.</p>
        </div>
        <div class="form-group">
            <label for="description">Περιγραφή:</label>
            <input id="description" name="comments" class="form-control" type="text" ng-model="ctrl.item.descr">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.period.$invalid && !requestForm.period.$pristine }">
            <label class="required" for="period">Ακαδημαϊκή Περίοδος<span class="form-required">*</span>:</label>
            <select id="period" name="period" ng-model="ctrl.item.period"
                    ng-options="period.id as period.descr for period in periods"></select>
            <p ng-show="requestForm.period.$invalid && !requestForm.period.$pristine" class="help-block">Εισάγετε
                ακαδημαϊκή περίοδο.</p>
        </div>
        <div class="form-group">
            <label class="required" for="ps_id">Πρόγραμμα Σπουδών:</label>
            <input id="ps_id" name="ps_id" class="form-control" type="text" ng-model="ctrl.item.ps_id">
        </div>

        <div class="form-group">
            <label class="required" for="class_use">Χρήση Αίθουσας:</label>
            <input id="class_use" name="class_use" class="form-control" type="text" ng-model="ctrl.item.class_use">
        </div>
        <div class="form-group">
            <label class="required" for="links">Παραποµπές:</label>
            <input id="links" name="links" class="form-control" type="text" ng-model="ctrl.item.links">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.fromdt.$invalid && !requestForm.fromdt.$pristine }">
            <label class="required" for="fromdt">Από ώρα<span class="form-required">*</span>:</label>
            <input id="fromdt" name="fromdt" class="form-control" type="text" ng-model="ctrl.item.fromdt">
            <p ng-show="requestForm.fromdt.$invalid && !requestForm.fromdt.$pristine" class="help-block">Εισάγετε ώρα
                έναρξης.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : requestForm.todt.$invalid && !requestForm.todt.$pristine }">
            <label class="required" for="todt">Μέχρι ώρα<span class="form-required">*</span>:</label>
            <input id="todt" name="todt" class="form-control" type="text" ng-model="ctrl.item.todt">
            <p ng-show="requestForm.todt.$invalid && !requestForm.todt.$pristine" class="help-block">Εισάγετε ώρα
                λήξης.</p>
        </div>
        <div class="form-group">
            <label class="required" for="protocol_id">Αρ.πρωτοκόλλου:</label>
            <input id="protocol_id" name="protocol_id" class="form-control" type="text"
                   ng-model="ctrl.item.protocol_id">
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.req_status.$invalid && !requestForm.req_status.$pristine }">
            <label class="required" for="req_status">Κατάσταση Αιτήματος<span class="form-required">*</span>:</label>
            <input id="req_status" name="req_status" class="form-control" type="text" ng-model="ctrl.item.req_status">
            <p ng-show="requestForm.req_status.$invalid && !requestForm.req_status.$pristine" class="help-block">
                Εισάγετε κατάσταση αιτήματος.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.fromd.$invalid && !requestForm.fromd.$pristine }">
            <label class="required" for="fromd">Από ημέρα<span class="form-required">*</span>:</label>
            <input id="fromd" name="fromd" class="form-control" type="text" ng-model="ctrl.item.fromd">
            <p ng-show="requestForm.fromd.$invalid && !requestForm.fromd.$pristine" class="help-block">Εισάγετε
                ημερομηνιά έναρξης.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.tod.$invalid && !requestForm.tod.$pristine }">
            <label class="required" for="tod">Μέχρι ημέρα<span class="form-required">*</span>:</label>
            <input id="tod" name="tod" class="form-control" type="text" ng-model="ctrl.item.tod">
            <p ng-show="requestForm.tod.$invalid && !requestForm.tod.$pristine" class="help-block">Εισάγετε ημερομηνιά
                λήξης.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : requestForm.date_index.$invalid && !requestForm.date_index.$pristine }">
            <label class="required" for="date_index">Kαταχώρηση αιτήματος<span class="form-required">*</span>:</label>
            <input id="date_index" name="date_index" class="form-control" type="text" ng-model="ctrl.item.date_index">
            <p ng-show="requestForm.date_index.$invalid && !requestForm.date_index.$pristine" class="help-block">
                Εισάγετε ημερομηνιά καταχώρησης του αιτήματος.</p>
        </div>
        <div class="form-group">
            <label class="required" for="admin">Επιβλέπων Αιτήματος:</label>
            <select id="admin" name="admin" ng-model="ctrl.item.admin"
                    ng-options="user.id as user.user for user in users"></select>
        </div>


        <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.id>0">Ανανέωση
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.req_dt && !ctrl.item.id">Αποθήκευση
        </button>
    </form>
</div>