<div>
    <table class="table table-striped">
        <tr>
            <th>ID Χρήστη</th>
            <th>Όνομα</th>
            <th>Επώνυμο</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in ctrl.rdp.slice(((currentPageR-1)*itemsPerPageR),((currentPageR)*itemsPerPageR))|filter:ctrl.filterR"
            style="cursor: pointer">
            <td>{{ user.user}}</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.sname }}</td>
            <td>
                <a href="#/users/{{user.id}}" type="button" class="btn btn-info thumb"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                <button ng-click="user.disabled?null:ctrl.showPivotData(user)" type="button"
                        class="btn {{user.disabled?'btn-regular disabled':'btn-success '}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>