<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID Χρήστη</th>
            <th>Όνομα</th>
            <th>Επώνυμο</th>
            <th>Σχόλια</th>
            <th>Ημ/νια λήξης</th>
            <th>Κατάσταση</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.ldp.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:ctrl.filterL"
            style="cursor: pointer">
            <td>{{ item.user}}</td>
            <td>{{ item.fname }}</td>
            <td>{{ item.sname }}</td>
            <th>{{ item.pivot.comment }}</th>
            <th>{{ item.pivot.exp_dt}}</th>
            <th>{{ item.pivot.status}}</th>
            <td>
                <button ng-click="ctrl.editPivotData(item)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="ctrl.deleteData(item.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>