<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID Χρήστη</th>
            <th>Όνομα</th>
            <th>Επώνυμο</th>
            <th>Σχόλια</th>
            <th>Ημ/νια λήξης</th>
            <th>Κατάσταση</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in ctrl.ldp.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:ctrl.filter"
            style="cursor: pointer" ng-class="{selected: user.id === item.id}">
            <td>{{ user.user}}</td>
            <td>{{ user.fname }}</td>
            <td>{{ user.sname }}</td>
            <th>{{ user.pivot.comment }}</th>
            <th>{{ user.pivot.exp_dt}}</th>
            <th>{{ user.pivot.status}}</th>
            <td>
                <button ng-click="ctrl.editPivotData(user)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="ctrl.deleteData(user.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>