<nav class="navbarpan navbar navbar-default" role="navigation">
    <div class="navbar-header navbarpan" style="padding-left: 45px;background: #5d0303;;">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand panteiosbrand " href="#home">
            <div style="background: url('http://www.panteion.gr/images/Venda-img/logo.png') no-repeat 50% 0% #fff;background-size: auto auto;background-size: contain;height: 50px;position: absolute;left: 0px;z-index: 10;width: 50px;top: 0px;"></div>
            <div style="border-bottom: 1px solid;height: 22px;margin-bottom: 5px;">Αιθουσιολόγιο</div>
            <div style="font-size:10px;line-height: 10px;">ΠΑΝΤΕΙΟΝ ΠΑΝΕΠΙΣΤΗΜΙΟ <br> Κοινωνικών και Πολιτικών Επιστημών
            </div>
        </a>
    </div>

    <div class="collapse navbar-collapse navbarpan" ng-class="!navCollapsed && 'in'">
        <!--ng-if="globals.item.username && globals.item.username !== '' && globals.item.authdata"-->
        <ul class="nav navbar-nav">
            <li ng-repeat="option in adminColums" style="padding: 2px">
                <!--<home-button-columns ></home-button-columns>-->
                <a href="#{{option.column}}">{{option.title}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" style="background: #5d0303;">
                <a class="dropdown-toggle" data-toggle="dropdown">Ρυθμίσεις<b class="caret"></b></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                    <li role="menuitem"><a href="#users/{{users.id}}/roles">Προφίλ</a></li>
                    <li role="menuitem" ng-click="logout()"><a href="#login">Έξοδος</a></li>
                    <li role="menuitem">
                        <button ng-click="close()">Έξοδος Cookies</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


