<div>
    <div style="text-align: left;padding-left: 5px;">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <form class="roomBookForm" name="roomBookForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.user_id.$invalid && !roomBookForm.user_id.$pristine }">
            <label class="required" for="user_id">Username<span class="form-required">*</span>:</label>
            <select id="user_id" name="user_id" ng-model="item.user_id"
                    ng-options="users.id as users.user for users in users"></select>
            <p ng-show="roomBookForm.user_id.$invalid && !roomBookForm.user_id.$pristine" class="help-block">Enter
                user_id.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.room_id.$invalid && !roomBookForm.room_id.$pristine }">
            <label class="required" for="room_id">roomID look for it <span class="form-required">*</span>:</label>
            <select id="room_id" name="room_id" ng-model="item.room_id"
                    ng-options="users.id as users.user for users in users"></select>
            <p ng-show="roomBookForm.room_id.$invalid && !roomBookForm.room_id.$pristine" class="help-block">Enter
                room_id.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.request_id.$invalid && !roomBookForm.request_id.$pristine }">
            <label class="required" for="request_id">requestID look for it <span class="form-required">*</span>:</label>
            <select id="request_id" name="request_id" ng-model="item.request_id"
                    ng-options="users.id as users.user for users in users"></select>
            <p ng-show="roomBookForm.request_id.$invalid && !roomBookForm.request_id.$pristine" class="help-block">Enter
                request_id.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.date_index.$invalid && !roomBookForm.date_index.$pristine }">
            <label class="required" for="date_index">Ημέρα Kαταχώρηση αιτήματος<span
                    class="form-required">*</span>:</label>
            <input id="date_index" name="date_index" class="form-control" type="text" ng-model="ctrl.item.date_index"
                   value="{{ctrl.item.date_index=ctrl.item.fromd.getDay()}}">
            <p ng-show="roomBookForm.date_index.$invalid && !roomBookForm.date_index.$pristine" class="help-block">
                Εισάγετε ημέρα καταχώρησης του αιτήματος.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.fromd.$invalid && !roomBookForm.fromd.$pristine }">
            <label class="required" for="fromd">Από ημέρα<span class="form-required">*</span>:</label>
            <input id="fromd" name="fromd" class="form-control" type="date" ng-model="item.fromd">
            <p ng-show="roomBookForm.fromd.$invalid && !roomBookForm.fromd.$pristine" class="help-block">Enter
                fromd.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.tod.$invalid && !roomBookForm.tod.$pristine }">
            <label class="required" for="tod">Μέχρι ημέρα<span class="form-required">*</span>:</label>
            <input id="tod" name="tod" class="form-control" type="date" ng-model="item.tod">
            <p ng-show="roomBookForm.tod.$invalid && !roomBookForm.tod.$pristine" class="help-block">Enter
                tod.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.fromt.$invalid && !roomBookForm.fromt.$pristine }">
            <label class="required" for="fromt">Από ώρα<span class="form-required">*</span>:</label>
            <input id="fromt" name="fromt" class="form-control" type="time" ng-model="item.fromt">
            <p ng-show="roomBookForm.fromt.$invalid && !roomBookForm.fromd.$pristine" class="help-block">Enter
                fromt.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : roomBookForm.tot.$invalid && !roomBookForm.tot.$pristine }">
            <label class="required" for="tot">Μέχρι ώρα<span class="form-required">*</span>:</label>
            <input id="tot" name="tot" class="form-control" type="time" ng-model="item.tot">
            <p ng-show="roomBookForm.tot.$invalid && !roomBookForm.tot.$pristine" class="help-block">Enter tot.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.type.$invalid && !roomBookForm.type.$pristine }">
            <label class="required" for="type">type<span class="form-required">*</span>:</label>
            <input id="type" name="type" class="form-control" type="text" ng-model="item.type">
            <p ng-show="roomBookForm.type.$invalid && !roomBookForm.type.$pristine" class="help-block">Enter
                type.</p>
        </div>
        <div class="form-group"
             ng-class="{ 'has-error' : roomBookForm.period.$invalid && !roomBookForm.period.$pristine }">
            <label class="required" for="period">Ακαδημαϊκή Περίοδος<span class="form-required">*</span>:</label>
            <input id="period" name="period" class="form-control" type="text" ng-model="item.period">
            <p ng-show="roomBookForm.period.$invalid && !roomBookForm.period.$pristine" class="help-block">Enter
                period.</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="updateRoomBook(item)" style="padding: 5px"
                ng-if="item.id>0">Ανανέωση
        </button>
        <button type="button" class="btn btn-primary" ng-click="saveRoomBook(item)" style="padding: 5px"
                ng-if="item.user_id && !item.id">Αποθήκευση
        </button>
    </form>
</div>