<div id="data_tbl" class="boxContent">
    <table class="sorttable table table-hover table-striped table-responsive table-header-fixed table-condensed">
        <thead class="header-fixed" style="background-color: #cecece;">
        <tr>
            <th>id</th>
            <th>{{"Όνομα Αιθουσας"| translate}}</th>
            <th>{{"Σχόλια"| translate}}</th>
            <th>{{"Κατάσταση"| translate}}</th>
            <th>{{"Από ημ/νία"| translate}}</th>
            <th>{{"Έως ημ/νία"| translate}}</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody class="contentScroll">
        <tr ng-repeat="item in ctrl.ldp.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:ctrl.filter"
            style="cursor: pointer">
            <td>{{item.id }}</td>
            <td>{{item.name}}</td>
            <td>{{item.pivot.comments }}</td>
            <td>{{item.pivot.stat }}</td>
            <td>{{item.pivot.from |date:'dd-MM-yyyy' }}</td>
            <td>{{item.pivot.to |date:'dd-MM-yyyy' }}</td>
            <td>
                <button ng-click="ctrl.editPivotData(item)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="ctrl.deleteData(item.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagePagination">
    <div>
        <pagination current-page="currentPageL" total-items="ctrl.ldp.length"
                    items-per-page="itemsPerPageL" num-pages="numPagesL"></pagination>
    </div>
</div>
