.directiveFormItemA status-selector div label {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
    line-height: 34px;
    text-align: -webkit-right;
    padding-right: 10px;
}

.directiveFormItemA status-selector div select#status {
    width: 180px;
}

.directiveFormItemA status-selector div {
    display: flex;
}