<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Κωδικός τμήματος</th>
            <th>Περιγραφη</th>
            <th>Τίτλος</th>
            <th>Σχολή</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tms in rData.slice(((currentPageR-1)*itemsPerPageR),((currentPageR)*itemsPerPageR))|filter:filter"
            style="cursor: pointer" ng-class="{selected: tms.id === item.id}">
            <td>{{ tms.id }}</td>
            <td>{{ tms.tm_code }}</td>
            <td>{{ tms.descr}}</td>
            <td>{{ tms.title}}</td>
            <td>{{ tms.sxoli}}</td>

            <td>
                <button ng-click="tms.disabled?null:showPivotData(tms)" type="button"
                        class="btn {{tms.disabled?'btn-regular disabled':'btn-success '}}">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </td>
        </tr>
    </table>
</div>