<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Κωδικός τμήματος</th>
            <th>Περιγραφη</th>
            <th>Τίτλος</th>
            <th>Σχολή</th>
            <th>Σχολια</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.ldp.slice(((currentPageL-1)*itemsPerPageL),((currentPageL)*itemsPerPageL))|filter:ctrl.filterL"
            style="cursor: pointer">
            <td>{{ item.id }}</td>
            <td>{{ item.tm_code }}</td>
            <td>{{ item.descr}}</td>
            <td>{{ item.title}}</td>
            <td>{{ item.sxoli}}</td>
            <td>{{ item.pivot.comments }}</td>
            <td>
                <button ng-click="ctrl.editPivotData(item)" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button ng-click="ctrl.deleteData(item.id)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>