<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageTitle">{{"Επεξεργασία χρήσης"| translate}}</div>
    </div>
    <div class="contentHolder">
        <form class="itemForm" name="itemForm" novalidate style="padding: 20px;border:1px solid #cdcdcd"><br>

            <div class="form-group">
                <label for="stat_comm" class=" formItemLabel">{{"Σχόλια"| translate}}:</label>
                <div class="longInput">
                        <textarea id="stat_comm" name="stat_comm" class="form-control" type="text"
                                  ng-model="ctrl.pivotData.comment"></textarea>
                </div>
                <br>
            </div>
            <button type="button" class="btn btn-primary" ng-click="ctrl.insertPivotItem(ctrl.pivotData)"
                    style="padding: 5px; float: right">{{"ok"| translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.cancelPivotData()"
                    style="padding: 5px; float: right">{{"cancel"| translate}}
            </button>
        </form>
    </div>
</div>