<div id="rooms_main">
    <div>
        <h2 style="text-align: center;"> Κατάλογος Αιθουσών </h2>
    </div>
    <div style="padding: 15px">
        <div style="display: flex">
            <input type="text" ng-model="filter" class="form-control" placeholder="search"
                   style="padding: 5px; width: 100%">
            <button type="button" class="btn btn-primary" ng-click="ctrl.getAll()"
                    style="min-width: 50px; border-radius: 0px;">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
            <a href="#/rooms/create" class="btn btn-success thumb" style="min-width: 50px;border-radius: 0px;">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div>
            <pagination current-page="currentPage" total-items="totalItems" items-per-page="itemsPerPage"
                        num-pages="numPages"></pagination>
        </div>
        <show-hide-columns colums-visibility="ctrl.tableColumns"></show-hide-columns>
        <div id="data_tbl" class="table-responsive boxContent">
            <table class="sorttable table table-hover table-striped table-responsive header-fixed">
                <thead>
                <tr>
                    <th dm-th ng-repeat="th in ctrl.tableColumns" ng-if="th.visible"></th>
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="room in ctrl.dp.slice(((currentPage-1)*itemsPerPage),((currentPage)*itemsPerPage))|filter:ctrl.filter"
                    style="cursor: pointer" ng-class="{selected: room.id === item.id}">

                    <td ng-if="ctrl.tableColumns[0].visible">{{room.id }}</td>
                    <td ng-if="ctrl.tableColumns[1].visible">{{room.name}}</td>
                    <td ng-if="ctrl.tableColumns[2].visible">{{room.address }}</td>
                    <td ng-if="ctrl.tableColumns[3].visible">{{room.building}}</td>
                    <td ng-if="ctrl.tableColumns[4].visible">{{room.floor}}</td>
                    <td ng-if="ctrl.tableColumns[5].visible">{{room.status}}</td>
                    <td ng-if="ctrl.tableColumns[6].visible">{{room.active}}</td>
                    <td ng-if="ctrl.tableColumns[7].visible">{{room.destroyed}}</td>
                    <td ng-if="ctrl.tableColumns[8].visible">{{room.nonexist}}</td>
                    <td ng-if="ctrl.tableColumns[9].visible">{{room.capasity}}</td>
                    <td ng-if="ctrl.tableColumns[10].visible">{{room.width}}</td>
                    <td ng-if="ctrl.tableColumns[11].visible">{{room.height }}</td>
                    <td ng-if="ctrl.tableColumns[12].visible">{{room.xoros}}</td>
                    <td ng-if="ctrl.tableColumns[13].visible">{{room.exams_capasity }}</td>
                    <td ng-if="ctrl.tableColumns[14].visible">{{room.capasity_categ}}</td>
                    <td ng-if="ctrl.tableColumns[15].visible">{{room.tm_owner}}</td>
                    <td ng-if="ctrl.tableColumns[16].visible">{{room.stat_comm}}</td>
                    <td ng-if="ctrl.tableColumns[17].visible">{{room.config.year}}</td>
                    <td ng-if="ctrl.tableColumns[18].visible">{{room.room_category.descr}}</td>
                    <td ng-if="ctrl.tableColumns[19].visible">
                        <li ng-repeat="use in room.room_use">
                            <button ng-click="deleteUsage(room, use)">x</button>
                            {{use.synt}}
                        </li>
                    </td>
                    <td>
                        <a href="#/rooms/{{room.id}}" type="button" class="btn btn-info thumb"><span
                                class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#/rooms/{{room.id}}/usages" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-import"></span></a>
                        <a href="#/rooms/{{room.id}}/requests" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-folder-open"></span></a>
                        <!--<a href="#/rooms/{{room.id}}/booking" type="button" class="btn btn-success thumb"><span-->
                        <!--class="glyphicon glyphicon-check"></span></a>   TODO:   BUTTON BOOKING THE ROOM        -->
                        <a href="#/rooms/{{room.id}}/items" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-blackboard"></span></a>
                        <a href="#/rooms/{{room.id}}/tms" type="button" class="btn btn-primary thumb"><span
                                class="glyphicon glyphicon-map-marker"></span></a>

                        <button ng-click="ctrl.delete(room)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <pre>total requests list : {{ctrl.dp.length}}  Page: {{currentPage}} / {{numPages}}</pre>
    </div>
</div>

