<div class="pageHolder">
    <div class="pageHeader">
        <div class="pageButtons">
            <a href back-button type="button" class="btn btn-warning">
				<span class="glyphicon glyphicon-chevron-left">
					<span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
				</span>
            </a>
        </div>
        <div class="pageTitle">Διαχείριση Αίθουσας</div>
    </div>
    <div class="contentHolder">
        <form class="roomForm" name="roomForm" novalidate style="padding: 20px;border:1px solid #cdcdcd">
            <!-- NAME -->
            <div class="formGroupItems">
                <div class="form-group" ng-class="{ 'has-error' : roomForm.name.$invalid && !roomForm.name.$pristine }">
                    <label class="required formItemLabel" for="name">Όνομα<span class="form-required">*</span>:</label>
                    <div class="longInput">
                        <input id="name" name="name" class="form-control" type="text" ng-model="ctrl.item.name">
                        <p ng-show="roomForm.name.$invalid && !roomForm.name.$pristine" class="help-block">Εισάγετε
                            όνομα αίθουσας.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="required formItemLabel" for="tm_owner">Τμήμα<span
                            class="form-required">*</span>:</label>
                    <div class="longInput">
                        <select id="tm_owner" name="tm_owner" class="form-control" ng-model="ctrl.item.tm_owner"
                                ng-options="tm.id as tm.title for tm in tms"></select>
                    </div>
                </div>
                <div class="inlineItems">
                    <!--type-->
                    <div class="form-group">
                        <label for="type" class="required formItemLabel">Κατηγορια:</label>
                        <div class="extraSmallInput">
                            <select id="type" class="form-control" ng-model="ctrl.item.category" class="form-control"
                                    ng-options="category.id as category.descr for category in categories"> </select>
                        </div>
                    </div>

                    <div class="directiveFormItem">
                        <!--status-->
                        <status-selector status-title="Κατάσταση" options="roomStatus"
                                         output-value="ctrl.item.status"></status-selector>
                    </div>

                    <div class="form-group">
                        <label class="required formItemLabel smallInputLabel" for="conf_id">Έτος:</label>
                        <div class="extraSmallInput">
                            <select id="conf_id" name="conf_id" class="form-control" ng-model="ctrl.item.conf_id"
                                    ng-options="config.id as config.year for config in configs"></select>
                        </div>
                    </div>
                </div>


                <hr class="myHr"/>

                <span class="hrSeperator">Διεύθυνση</span>

                <!-- ADDRESS -->
                <div class="form-group"
                     ng-class="{ 'has-error' : roomForm.address.$invalid && !roomForm.address.$pristine }">
                    <label for="address" class="required formItemLabel">Διευθυνση<span
                            class="form-required">*</span>:</label>
                    <div class="longInput">
                        <input id="address" name="address" class="form-control" type="text"
                               ng-model="ctrl.item.address">
                        <p ng-show="roomForm.address.$invalid && !roomForm.address.$pristine" class="help-block">
                            Εισάγετε διεύθυνση.</p>
                    </div>
                </div>

                <div class="inlineItems">
                    <!-- building -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : roomForm.building.$invalid && !roomForm.building.$pristine }">
                        <label for="building" class="required formItemLabel">Κτίριο<span class="form-required">*</span>:</label>
                        <div class="midInput">
                            <input id="building" name="building" class="form-control" type="text"
                                   ng-model="ctrl.item.building">
                            <p ng-show="roomForm.building.$invalid && !roomForm.building.$pristine" class="help-block">
                                Εισάγετε κτίριο.</p>
                        </div>
                    </div>
                    <!--floor-->
                    <div class="form-group">
                        <label for="floor" class="required formItemLabel smallInputLabel">Όροφος:</label>
                        <div class="smallInput">
                            <input id="floor" name="floor" class="form-control" type="text" ng-model="ctrl.item.floor">
                        </div>
                    </div>
                </div>

            </div>

            <div class="formGroupItems">
                <hr class="myHr"/>
                <span class="hrSeperator">Έδρανα</span>

                <div class="inlineItems">
                    <!--active-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : roomForm.active.$invalid && !roomForm.active.$pristine }">
                        <label for="active" class="required formItemLabel smallInputLabel">Ενεργά<span
                                class="form-required">*</span>:</label>
                        <div class="extraSmallInput">
                            <input id="active" name="active" class="form-control" type="number"
                                   ng-model="ctrl.item.active">
                            <p ng-show="roomForm.active.$invalid && !roomForm.active.$pristine" class="help-block">
                                Εισάγετε ενεργά καθίσματα.</p>
                        </div>
                    </div>
                    <!--destroyed-->
                    <div class="form-group">
                        <label for="destroyed" class="required formItemLabel midInputLabel">Καταστροφές:</label>
                        <div class="extraSmallInput">
                            <input id="destroyed" name="destroyed" class="form-control" type="text"
                                   ng-model="ctrl.item.destroyed">
                        </div>
                    </div>
                    <!--nonexist-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : roomForm.nonexist.$invalid && !roomForm.nonexist.$pristine }">
                        <label for="nonexist" class="required formItemLabel midInputLabel">Ανενεργά<span
                                class="form-required">*</span>:</label>
                        <div class="extraSmallInput">
                            <input id="nonexist" name="nonexist" class="form-control" type="text"
                                   ng-model="ctrl.item.nonexist">
                            <p ng-show="roomForm.nonexist.$invalid && !roomForm.nonexist.$pristine" class="help-block">
                                Εισάγετε ανενεργά καθίσματα.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formGroupItems">

                <hr class="myHr"/>
                <span class="hrSeperator">Χωρητικότητα</span>

                <div class="inlineItems">
                    <!--capasity-->
                    <div class="form-group">
                        <label for="capasity" class="required formItemLabel">Εδρανα Διδασκαλίας:</label>
                        <div class="extraSmallInput">
                            <input id="capasity" name="capasity" class="form-control" type="number"
                                   ng-model="ctrl.item.capasity">
                        </div>
                    </div>

                    <!--exams_capasity-->
                    <div class="form-group">
                        <label for="exams_capasity" class="required formItemLabel">Εδρανα Εξετάσεων:</label>
                        <div class="extraSmallInput">
                            <input id="exams_capasity" name="exams_capasity" class="form-control" type="number"
                                   ng-model="ctrl.item.exams_capasity">
                        </div>
                    </div>
                </div>

                <div class="inlineItems">
                    <!--height-->
                    <div class="form-group">
                        <label for="height" class="required formItemLabel">Υψος/Βαθος:</label>
                        <div class="extraSmallInput">
                            <input id="height" name="height" class="form-control" type="number"
                                   ng-model="ctrl.item.height">
                        </div>
                    </div>

                    <!--width-->
                    <div class="form-group">
                        <label for="width" class="required formItemLabel smallInputLabel">Πλάτος:</label>
                        <div class="extraSmallInput">
                            <input id="width" name="width" class="form-control" type="number"
                                   ng-model="ctrl.item.width">
                        </div>
                    </div>

                    <!--capasity_categ-->
                    <div class="form-group">
                        <label for="capasity_categ" class="required formItemLabel midInputLabel">Κατηγ. Χωρητ.:</label>
                        <div class="extraSmallInput">
                            <input id="capasity_categ" name="capasity_categ" class="form-control" type="text"
                                   ng-model="ctrl.item.capasity_categ">
                        </div>
                    </div>

                </div>

                <!--xoros-->
                <div class="form-group">
                    <label for="xoros" class="required formItemLabel">Χώρος:</label>
                    <div class="longInput">
                        <input id="xoros" name="xoros" class="form-control" type="text" ng-model="ctrl.item.xoros">
                    </div>
                </div>

            </div>

            <div class="formGroupItems">
                <!--stat_comm-->
                <div class="form-group">
                    <label for="stat_comm" class="required formItemLabel">Σχόλια:</label>
                    <div class="longInput">
                        <textarea id="stat_comm" name="stat_comm" class="form-control" type="text"
                                  ng-model="ctrl.item.stat_comm"></textarea>
                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.id>0">Ανανέωση
            </button>
            <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                    ng-if="ctrl.item.name && !ctrl.item.id">Αποθήκευση
            </button>
        </form>
    </div>

</div>