<div class="pageHolder" style="padding:  20px;">
    <div class="pageHeader">
        <a href back-button type="button" class="btn btn-warning">
            <span class="glyphicon glyphicon-chevron-left">
                <span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">Επιστροφή</span>
            </span>
        </a>
    </div>
    <form class="roomForm" name="roomForm" novalidate style="padding: 20px;border:1px solid #cdcdcd">
        <!-- NAME -->
        <div class="formGroupItems">
            <div class="form-group row" ng-class="{ 'has-error' : roomForm.name.$invalid && !roomForm.name.$pristine }">
                <label class="required col-sm-2 formItemLabel" for="name">Όνομα Αιθουσας<span
                        class="form-required">*</span>:</label>
                <div class="col-sm-10">
                    <input id="name" name="name" class="form-control" type="text" ng-model="ctrl.item.name">
                    <p ng-show="roomForm.name.$invalid && !roomForm.name.$pristine" class="help-block">Εισάγετε όνομα
                        αίθουσας.</p>
                </div>
            </div>
            <!-- ADDRESS -->
            <div class="form-group row"
                 ng-class="{ 'has-error' : roomForm.address.$invalid && !roomForm.address.$pristine }">
                <label for="address" class="required col-sm-2 formItemLabel">Διευθυνση<span
                        class="form-required">*</span>:</label>
                <div class="col-sm-10">
                    <input id="address" name="address" class="form-control" type="text" ng-model="ctrl.item.address">
                    <p ng-show="roomForm.address.$invalid && !roomForm.address.$pristine" class="help-block">Εισάγετε
                        διεύθυνση.</p>
                </div>
            </div>
        </div>
        <!-- building -->
        <div class="form-group" ng-class="{ 'has-error' : roomForm.building.$invalid && !roomForm.building.$pristine }">
            <label for="building" class="required">Κτίριο<span class="form-required">*</span>:</label>
            <input id="building" name="building" class="form-control" type="text" ng-model="ctrl.item.building">
            <p ng-show="roomForm.building.$invalid && !roomForm.building.$pristine" class="help-block">Εισάγετε
                κτίριο.</p>
        </div>
        <!--floor-->
        <div class="form-group">
            <label for="floor" class="required">Όροφος:</label>
            <input id="floor" name="floor" class="form-control" type="text" ng-model="ctrl.item.floor">
        </div>
        <!--status-->
        <status-selector status-title="Κατάσταση αίθουσας" options="roomStatus"
                         output-value="ctrl.item.status"></status-selector>

        <!--active-->
        <div class="form-group" ng-class="{ 'has-error' : roomForm.active.$invalid && !roomForm.active.$pristine }">
            <label for="active" class="required">Ενεργά<span class="form-required">*</span>:</label>
            <input id="active" name="active" class="form-control" type="number" ng-model="ctrl.item.active">
            <p ng-show="roomForm.active.$invalid && !roomForm.active.$pristine" class="help-block">Εισάγετε ενεργά
                καθίσματα.</p>
        </div>
        <!--destroyed-->
        <div class="form-group">
            <label for="destroyed" class="required">Καταστροφές:</label>
            <input id="destroyed" name="destroyed" class="form-control" type="text" ng-model="ctrl.item.destroyed">
        </div>
        <!--nonexist-->
        <div class="form-group" ng-class="{ 'has-error' : roomForm.nonexist.$invalid && !roomForm.nonexist.$pristine }">
            <label for="nonexist" class="required">Ανενεργά<span class="form-required">*</span>:</label>
            <input id="nonexist" name="nonexist" class="form-control" type="text" ng-model="ctrl.item.nonexist">
            <p ng-show="roomForm.nonexist.$invalid && !roomForm.nonexist.$pristine" class="help-block">Εισάγετε
                ανενεργά καθίσματα.</p>
        </div>
        <!--capasity-->
        <div class="form-group">
            <label for="capasity" class="required">Χωρητικότητα:</label>
            <input id="capasity" name="capasity" class="form-control" type="number" ng-model="ctrl.item.capasity">
        </div>
        <!--width-->
        <div class="form-group">
            <label for="width" class="required">Πλάτος:</label>
            <input id="width" name="width" class="form-control" type="number" ng-model="ctrl.item.width">
        </div>
        <!--height-->
        <div class="form-group">
            <label for="height" class="required">Υψος/Βαθος:</label>
            <input id="height" name="height" class="form-control" type="number" ng-model="ctrl.item.height">
        </div>
        <!--xoros-->
        <div class="form-group">
            <label for="xoros" class="required">xoros:</label>
            <input id="xoros" name="xoros" class="form-control" type="text" ng-model="ctrl.item.xoros">
        </div>
        <!--exams_capasity-->
        <div class="form-group">
            <label for="exams_capasity" class="required">Χωρητικότητα Εξετασεων:</label>
            <input id="exams_capasity" name="exams_capasity" class="form-control" type="number"
                   ng-model="ctrl.item.exams_capasity">
        </div>


        <!--capasity_categ-->
        <div class="form-group">
            <label for="capasity_categ" class="required">Χωρητικότητα/Κατηγορια:</label>
            <input id="capasity_categ" name="capasity_categ" class="form-control" type="text"
                   ng-model="ctrl.item.capasity_categ">
        </div>


        <!--stat_comm-->
        <div class="form-group">
            <label for="stat_comm" class="required">Σχόλια:</label>
            <input id="stat_comm" name="stat_comm" class="form-control" type="text" ng-model="ctrl.item.stat_comm">
        </div>
        <div class="form-group">
            <label class="required" for="conf_id">Έτος:</label>
            <select id="conf_id" name="conf_id" class="form-control" ng-model="ctrl.item.conf_id"
                    ng-options="config.id as config.year for config in configs"></select>
        </div>


        <div class="form-group">
            <label class="required" for="tm_owner">Τμήμα<span class="form-required">*</span>:</label>
            <select id="tm_owner" name="tm_owner" class="form-control" ng-model="ctrl.item.tm_owner"
                    ng-options="tm.id as tm.title for tm in tms"></select>
        </div>


        <!--type-->
        <div class="form-group">
            <label for="type" class="required">Κατηγορια Αιθουσας:</label>
            <select id="type" class="form-control" ng-model="ctrl.item.category" class="form-control"
                    ng-options="category.id as category.descr for category in categories"> </select>
        </div>


        <button type="button" class="btn btn-primary" ng-click="ctrl.update(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.id>0">Ανανέωση
        </button>
        <button type="button" class="btn btn-primary" ng-click="ctrl.save(ctrl.item)" style="padding: 5px"
                ng-if="ctrl.item.name && !ctrl.item.id">Αποθήκευση
        </button>
    </form>
</div>